.Navigation {
  height: 27px;
  margin-left: 68px;
  margin-top: -30px;
  position: absolute;
  font: 11pt Century Gothic;
  color: #cccccc;
  text-shadow: 1px 1px 2px #000000;
  font-weight: 800;
  text-align: center; }

.NavNext {
  height: 17px;
  width: 17px;
  background: url(../images/next.png) 0 -35px no-repeat;
  margin: 0 4px 0 4px;
  float: left;
  top: 2px;
  cursor: pointer; }

.NavNext:hover {
  background-position: 0 -18px; }

.NavPrev {
  height: 16px;
  width: 16px;
  background: url(../images/prew.png) 0 -35px no-repeat;
  float: left;
  cursor: pointer; }

.NavPrev:hover {
  background-position: 0 -18px; }

.NavFirst {
  height: 17px;
  width: 17px;
  background: url(../images/first.png) 0 -35px no-repeat;
  margin: 0 8px 0 0;
  float: left;
  top: 2px;
  cursor: pointer; }

.NavFirst:hover {
  background-position: 0 -18px; }

.NavLast {
  height: 16px;
  width: 16px;
  background: url(../images/last.png) 0 -35px no-repeat;
  float: left;
  cursor: pointer; }

.NavLast:hover {
  background-position: 0 -18px; }

.NavItem {
  height: 27px;
  width: 24px;
  margin: 0 2px 0 1px;
  float: left;
  background: url(../images/number.png);
  cursor: pointer; }

.NavItem:hover {
  background-position: 0 -27px; }

.NavItem.Cur {
  height: 27px;
  width: 24px;
  margin: 0 2px 0 1px;
  float: left;
  background: url(../images/number.png) 0 -27px;
  cursor: default; }

.Space {
  height: 27px;
  width: 24px;
  margin: 0 2px 0 1px;
  float: left;
  background: url(../images/space.png) 0 -0px; }

/* >=B59=5@ 4;O A?8A:0 */
.ListCont {
  width: 807px;
  margin-top: 70px;
  height: 2000px;
  overflow: auto; }

.item.selected {
  background-image: url('../images/1/patt4.png'); }

.item {
  border: 1px solid black;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 5px 3px 0 #aaaaaa;
  -webkit-box-shadow: 0 5px 3px 0 #aaaaaa;
  box-shadow: 0 5px 3px 0 #aaaaaa;
  background-image: url('../images/patt1.png');
  margin: 35px 68px;
  margin-right: 58px; }

.ItemHeader {
  height: 120px;
  border-bottom: 1px solid black;
  position: relative; }

.BigImg {
  width: 126px;
  height: 126px;
  outline: 1px solid #b9b9b9;
  background-color: #dfdfdf;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
  cursor: pointer; }

.BigImgShadow {
  position: absolute;
  top: 125px;
  left: 20px;
  height: 10px;
  width: 126px;
  -moz-box-shadow: 0 0 30px 0 #000, 0 0 30px 0 #000, 0 0 30px 0 #000;
  -webkit-box-shadow: 0 0 30px 0 #000, 0 0 30px 0 #000, 0 0 30px 0 #000;
  box-shadow: 0 0 30px 0 #000, 0 0 30px 0 #000, 0 0 30px 0 #000; }

.ItemInfoCont {
  position: absolute;
  left: 180px;
  top: 30px;
  height: 70px;
  width: 520px; }

.ItemTitle {
  display: block;
  overflow: hidden;
  font: 12pt Century Gothic;
  color: #cccccc;
  text-shadow: 1px 1px 2px #000000;
  width: 470px;
  height: 20px; }

.ItemArtist {
  font: 12pt Century Gothic;
  font-weight: 800; }

.ItemButtoms {
  height: 40px;
  position: absolute;
  bottom: 0; }

.ItemPlayB {
  background-image: url('../images/track_play_pre.png');
  height: 28px;
  width: 91px;
  float: left;
  cursor: pointer; }

.ItemAlbumCont {
  position: absolute;
  left: 150px;
  width: 300px;
  cursor: pointer; }

.ItemAlbum, .ItemTags {
  height: 20px;
  display: block;
  overflow: hidden;
  color: #cccccc;
  text-shadow: 1px 1px 2px #000000; }

.ItemAlbumTitle, .ItemTagsTitle {
  font: 12pt Century Gothic;
  font-weight: 800; }

.ItemButtonsCont {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 90px; }

.ItemDelim {
  height: 40px;
  background-color: #dfdfdf;
  border: 1px solid #F5F5F5;
  border-bottom: 1px solid #b9b9b9;
  padding-left: 180px; }

.ItemDelimPhrase {
  margin-top: 10px;
  display: block;
  font: 14pt Century Gothic;
  color: #212121; }

.ItemSimCont {
  background-color: #dfdfdf;
  overflow-x: hidden;
  border: 1px solid #F5F5F5; }

.SimLeftCol, .SimRightCol {
  outline: 1px solid #F5F5F5;
  width: 50%;
  float: left; }

.SimItem.selected {
  background-image: linear-gradient(bottom, #b8b8b8 100%, #f0f0f0 65%);
  background-image: -o-linear-gradient(bottom, #b8b8b8 100%, #f0f0f0 65%);
  background-image: -moz-linear-gradient(bottom, #b8b8b8 100%, #f0f0f0 65%);
  background-image: -webkit-linear-gradient(bottom, #b8b8b8 100%, #f0f0f0 65%);
  background-image: -ms-linear-gradient(bottom, #b8b8b8 100%, #f0f0f0 65%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1, #b8b8b8), color-stop(0.65, #f0f0f0)); }

.SimItem {
  height: 72px;
  padding-left: 20px;
  padding-top: 8px;
  outline: 1px solid #F5F5F5;
  background-image: linear-gradient(bottom, #bab9b9 0%, #dfdfdf 50%);
  background-image: -o-linear-gradient(bottom, #bab9b9 0%, #dfdfdf 50%);
  background-image: -moz-linear-gradient(bottom, #bab9b9 0%, #dfdfdf 50%);
  background-image: -webkit-linear-gradient(bottom, #bab9b9 0%, #dfdfdf 50%);
  background-image: -ms-linear-gradient(bottom, #bab9b9 0%, #dfdfdf 50%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #bab9b9), color-stop(0.5, #dfdfdf)); }

.SmallImg {
  outline: 1px solid #F5F5F5;
  width: 64px;
  height: 64px;
  float: left;
  cursor: pointer; }

.SimInfoCont {
  margin-left: 15px;
  float: left; }

.SimTitle {
  width: 220px;
  height: 30px; }

.SimArtist {
  height: 15px;
  display: block;
  font: 12pt Century Gothic;
  font-weight: 800;
  color: #212121;
  overflow: hidden; }

.SimName {
  height: 15px;
  display: block;
  color: #212121; }

.SimButtonsCont {
  margin-top: 10px;
  cursor: pointer; }

.ItemFooter {
  height: 30px;
  padding-left: 310px; }

.player {
  width: 807px;
  height: 151px;
  padding: 0;
  background-image: url(../images/player_background.png);
  -moz-shadow: 0 8px 30px #222;
  -webkit-box-shadow: 0 8px 30px #222;
  box-shadow: 0 8px 30px #222;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none; }

.player div {
  float: left;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none; }

.buttons {
  float: left;
  margin-left: 70px;
  margin-top: 43px; }

.play {
  width: 56px;
  height: 62px;
  background-image: url(../images/play_over.png);
  position: absolute;
  cursor: pointer; }

.play > .back {
  width: 56px;
  height: 62px;
  background: url(../images/play_pre.png);
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }

.play > .back:hover {
  opacity: 0; }

.play:active {
  background-image: url(../images/play_down.png); }

.pause {
  width: 46px;
  height: 62px;
  background-image: url(../images/pause_over.png);
  display: none;
  position: absolute;
  cursor: pointer; }

.pause > .back {
  width: 46px;
  height: 62px;
  background: url(../images/pause_pre.png);
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }

.pause > .back:hover {
  opacity: 0; }

.pause:active {
  background-image: url(../images/pause_down.png); }

.rew {
  width: 34px;
  height: 29px;
  background-image: url(../images/prev_over.png);
  margin-left: 83px;
  margin-top: 15px;
  cursor: pointer; }

.rew > .back {
  width: 34px;
  height: 29px;
  background-image: url(../images/prev_pre.png);
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }

.rew > .back:hover {
  opacity: 0; }

.rew:active {
  background-image: url(../images/prev_down.png); }

.ff {
  width: 34px;
  height: 29px;
  background-image: url(../images/next_over.png);
  margin-left: 4px;
  margin-top: 15px;
  cursor: pointer; }

.ff > .back {
  width: 34px;
  height: 29px;
  background-image: url(../images/next_pre.png);
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }

.ff > .back:hover {
  opacity: 0; }

.ff:active {
  background-image: url(../images/next_down.png); }

.playinfo {
  margin-left: 10px;
  height: 151px;
  width: 342px;
  font: 12pt Century Gothic; }

.playinfo > div {
  width: 342px;
  position: absolute; }

.mariquee {
  width: 342px;
  position: absolute; }

.trackinfo {
  height: 13px;
  top: 30px;
  padding: 0 0 10px 0;
  overflow: hidden; }

/*.trackinfo > div{
					overflow : hidden;
					width    : 32000px;
					position : absolute;
				}
				*/
.trackinfo p {
  float: left;
  margin: 0;
  font: 12pt Century Gothic;
  color: #cccccc;
  text-shadow: 1px 1px 2px #000000; }

.PlayerProgress {
  cursor: pointer;
  height: 8px;
  top: 70px;
  background: #38393d; }

.PlayerProgress div {
  height: 7px;
  top: 0;
  width: 0;
  position: absolute; }

.PlayerLoadProgress {
  top: 1px;
  background: url(../images/load_pattern.png) repeat-x;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: visible; }

.PlayerPlayProgress {
  background: url(../images/play_pattern.png) repeat-x;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.PlayerProgress .PlayerPlayHead {
  top: -9px;
  width: 8px;
  height: 24px;
  z-index: 1000;
  background: url(../images/pick_on.png);
  right: -4px; }

.PlayerProgress .PlayerPlayHead > .back {
  width: 8px;
  height: 24px;
  background: url(../images/pick_pre.png);
  z-index: 1001;
  -moz-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  -webkit-transition: opacity 0.1s ease;
  -ms-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease; }

.PlayerProgress .PlayerPlayHead > .back:hover {
  opacity: 0; }

.PlayerProgress .PlayerProgressMask {
  width: 342px;
  height: 11px;
  background: url(../images/progress_mask.png);
  top: -1px; }

.under {
  top: 110px; }

.under div {
  position: absolute; }

.PlayerAddButton {
  width: 116px;
  height: 17px;
  background-image: url(../images/add_over.png);
  cursor: pointer;
  display: none; }

.PlayerAddButton > .back {
  width: 116px;
  height: 17px;
  background-image: url(../images/add_pre.png);
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }

.PlayerAddButton > .back:hover {
  opacity: 0; }

.PlayerAddButton:active {
  background-image: url(../images/add_down.png); }

.MutePre {
  left: 180px;
  top: -5px;
  width: 23px;
  height: 18px;
  background-image: url(../images/vol_b_over.png);
  cursor: pointer; }

.MutePre > .back {
  width: 23px;
  height: 18px;
  background-image: url(../images/vol_b_pre.png);
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }

.MutePre > .back:hover {
  opacity: 0; }

.MutePre:active {
  background-image: url(../images/vol_b_down.png); }

.MuteAft {
  left: 180px;
  top: -5px;
  width: 23px;
  height: 18px;
  background-image: url(../images/mute_b_over.png);
  display: none;
  cursor: pointer; }

.MuteAft > .back {
  width: 23px;
  height: 18px;
  background-image: url(../images/mute_b_pre.png);
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }

.MuteAft > .back:hover {
  opacity: 0; }

.MuteAft:active {
  background-image: url(../images/mute_b_down.png); }

.PlayerVolBack {
  left: 210px;
  width: 132px;
  height: 9px;
  background-color: .444;
  cursor: pointer; }

.PlayerVolBar {
  width: 132px;
  height: 9px;
  background: url(../images/volume_pattern.png) repeat-x;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.PlayerVolumeControl {
  top: -9px;
  width: 8px;
  height: 24px;
  z-index: 1000;
  background: url(../images/pick_on.png);
  /* TODO: @C30O :0@B8=:0, 2K@02=820=85 */
  right: -4px; }

.PlayerVolumeControl > .back {
  width: 8px;
  height: 24px;
  background: url(../images/pick_pre.png);
  z-index: 1001;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }

.PlayerVolumeControl > .back:hover {
  opacity: 0; }

.PlayerVolMask {
  width: 132px;
  height: 9px;
  background-image: url(../images/volume_mask.png); }

.PlayerImgCont {
  padding-left: 26px;
  padding-top: 9px;
  margin-left: 5px;
  height: 142px;
  width: 149px;
  background-image: url(../images/album.png); }

.PlayerBigImage {
  height: 126px;
  width: 126px; }
