

// Стиль для кнопок из картинок
@mixin button-constuctor( $width, $height, $normal-img: false, $over-img: false, $active-img: false ) {

	width: $width;
	height: $height;
	cursor: pointer;

	@if $normal-img != false {
		background-image: image-url( $normal-img );
	}

	@if $over-img != false {
		&:hover {
			background-image: image-url( $over-img );
		}
	}

	@if $active-img != false {
		&:active {
			background-image: image-url( $active-img );
		}
	}

}

// Маленькие иконки действий
@mixin icon-constructor( $name ) {

	$size: 13px;
	$normal-img: 'good/#{$name}_icon.png';
	$over-img: 'good/#{$name}_icon_over.png';

	@include button-constuctor( $size, $size, $normal-img, $over-img );
}



