
@import "_colors.scss";
@import "compass/css3/font-face";

@include font-face("Gothic", font-files('fonts/Gothic.ttf', 'ttf'), 'fonts/Century Gothic.eot');


@mixin gothic-font($font-size: 10pt, $font-weight: normal) {
	font-family: Gothic, sans-serif;
	font-size: $font-size;
	font-weight: $font-weight
}


@mixin white-gothic-font($font-size: 10pt, $font-weight: normal) {
	@include gothic-font($font-size, $font-weight);
	color: $white-font;
	text-shadow : 1px 1px 2px black;
}


@mixin black-gothic-font($font-size: 10pt, $font-weight: normal) {
	@include gothic-font($font-size, $font-weight);
	color: $black-font;
}



