
@import "_fonts.scss";

.b-item-info {
	@include white-gothic-font( 12pt );

	position: absolute;
	left: 157px;
	overflow: hidden;
}

	.b-item-info__album {
		height: 22px;
		display: block;
	}


		.b-item-info__album-title {
			font-weight: bold;
		}


	.b-item-info__tags {
		height: 22px;
		display: block;
	}


		.b-item-info__tags-title {
			font-weight: bold;
		}
