@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

@import "_fonts.scss";
@import "_sprite.scss";


.b-item {
	@include border-radius(8px);
	@include box-shadow(0 5px 3px 0 #aaaaaa);
	border: 1px solid black;
	background-image: inline-image("backgrounds/dark.png");
	margin: 35px 70px;
	padding: 0 1px;
}


.b-item_selected {
	background-image: inline-image("backgrounds/medium.png");
}


	.b-item__header {
		height: 120px;
		border-bottom: 1px solid black;
		position: relative;
	}


		.b-item__album-cover {
			width: 126px;
			height: 126px;
			border: 1px solid $dark_gray;
			background-color: $light_gray;
			position: relative;
			top: 20px;
			left: 20px;
			z-index: 100;
			cursor: pointer;
		}


			.b-item__cover-image {
				width: 126px;
				height: 126px;
				position: relative;
				z-index: 1000;
			}


			.b-item__cover-shadow {
				$shadow_settings: 0 0 30px 0 #000;
				@include box-shadow( $shadow_settings, $shadow_settings, $shadow_settings );
				position: absolute;
				top: 116px;
				height: 10px;
				width: 126px;
			}


		.b-item__content {
			position: absolute;
			left: 180px;
			top: 30px;
			height: 70px;
			width: 470px;
		}


			.b-item__track-title {
				@include white-gothic-font( 12pt );
				height: 22px;
				overflow: hidden;
				cursor: pointer;
			}


				.b-item__artist-name {
					font-weight: bold;
				}


				.b-item__track-name {

				}


			.b-item__state-buttons {
				height: 40px;
				position: absolute;
				bottom: 0;
			}


				.b-item__play-button {
					@include item-sprite(play);
					cursor: pointer;
				}


				.b-item__pause-button {
					@include item-sprite(pause);
					display: none;
					cursor: pointer;
				}


			.b-item__info-place {

			}


		.b-item__control-buttons {
			position: absolute;
			right: 10px;
			top: 10px;
			height: 90px;
		}


			.b-item__wiki-button {
				@include icons-sprite(wiki);
				float: left;
				display: none;
				cursor: pointer;
			}


			.b-item__like-button {
				@include icons-sprite(like);
				float: left;
				margin-left: 7px;
				cursor: pointer;
			}


			.b-item__delete-button {
				@include icons-sprite(delete);
				float: left;
				margin-left: 14px;
				display: none;
				cursor: pointer;
			}


	.b-item__similars-place {

	}

