
@import "_fonts.scss";
@import "_sprite.scss";


.b-more-button {
	margin: 5px auto;
	width: 200px;
	height: 20px;
}

	.b-more-button__show-more-button {
		margin-left: 35px;
		cursor: pointer;
	}

		.b-more-button__show-more-text {
			@include white-gothic-font(12pt, bold);
			display: block;
			float: left;
		}

		.b-more-button__show-more-icon {
			@include icons-sprite(show-more);
			float: left;
			margin-left: 10px;
			margin-top: 3px;
			width: 16px;
			height: 16px;

		}


	.b-more-button__show-loader {
		@include white-gothic-font(12pt, bold);
		margin-left: 60px;
	}