
@import "_colors.scss";
@import "_fonts.scss";
@import "_sprite.scss";

.b-navigation {
	@include white-gothic-font(11pt, bold);
	height: 27px;
	margin-left: 153px;

	text-align: center;
	cursor: pointer;
}


	.b-navigation__next {
		@include navigation-sprite(next);
		height: 17px;
		width: 17px;
		margin: 0 4px 0 4px;
		float: left;
		top: 2px;
	}


	.b-navigation__prev {
		@include navigation-sprite(prev);
		height: 16px;
		width: 16px;
		float: left;
	}


	.b-navigation__first {
		@include navigation-sprite(first);
		height: 17px;
		width: 17px;
		margin: 0 8px 0 0;
		float: left;
		top: 2px;
	}


	.b-navigation__last {
		@include navigation-sprite(last);
		height: 16px;
		width: 16px;
		float: left;
	}


	.b-navigation__item {
		@include navigation-sprite(number);
		height: 27px;
		width: 24px;
		margin: 0 2px 0 1px;
		float: left;
	}


	.b-navigation__item_current {
		@include navigation-sprite(number_hover);
		height: 27px;
		width: 24px;
		margin: 0 2px 0 1px;
		float: left;
		cursor: default;
	}


	.b-navigation__space {
		@include navigation-sprite(space);
		height: 27px;
		width: 24px;
		margin: 0 2px 0 1px;
		float: left;
		cursor: default;
}