@import "compass/css3/user-interface";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

@import "_fonts.scss";
@import "_common.scss";


.b-player {
	height: 151px;
	background-image: image-url("player_background.png");

	@include box-shadow(0 8px 30px #222);
	@include user-select(none);
}


	.b-player__control-buttons {
		float: left;
		margin-left: 70px;
		margin-top: 43px;

		width: 155px;
		height: 62px;
	}


		.b-player__state-buttons {
			width: 56px;
			float: left;
		}


			.b-player__play-button {
				@include button-constuctor( 56px, 62px, "play_pre.png", "play_over.png", "play_down.png" );
			}


			.b-player__pause-button {
				@include button-constuctor( 46px, 62px, "pause_pre.png", "pause_over.png", "pause_down.png" );
				display: none;
			}


		.b-player__prev-button {
			@include button-constuctor( 34px, 29px, "prev_pre.png", "prev_over.png", "prev_down.png" );
			margin-left: 23px;
			margin-top: 15px;
			float: left;
		}


		.b-player__next-button {
			@include button-constuctor( 34px, 29px, "next_pre.png", "next_over.png", "next_down.png" );
			margin-left: 4px;
			margin-top: 15px;
			float: left;
		}


	.b-player__content {
		width: 342px;
		margin-left: 10px;
		float: left;
	}


		.b-player__marquee-place {
			margin-top: 30px;
			height: 20px;
			width: 342px;
		}


		.b-player__progress {
			cursor: pointer;
			height: 8px;
			margin-top: 20px;
			background-color: #38393d;
			width: 342px;
			position: relative;
		}


			.b-player__load-bar {
				height: 7px;
				position: absolute;
				background: image-url("load_pattern.png") repeat-x;
				@include border-radius(4px);

				overflow: visible;
			}


				.b-player__progress-bar {
					height: 7px;
					position: absolute;
					background: image-url("play_pattern.png") repeat-x;
					@include border-radius(3px);
				}


					.b-player__progress-pick {

						top: -9px;
						position: absolute;
						right: -4px;
						@include button-constuctor( 8px, 24px, "pick_pre.png", "pick_on.png" );
						z-index: 1001;
					}


			.b-player__progress-mask {
				position: absolute;
				top: -1px;
				width: 342px;
				height: 11px;
				background: image-url("progress_mask.png");
				z-index: 1000;
			}




		.b-player__under {
			margin-top: 20px;
			height: 50px;
		}


			.b-player__status-button {
				float: left;
				width: 116px;
				height: 17px;
			}


				.b-player__add-button {
					@include button-constuctor( 116px, 17px, "add_pre.png", "add_over.png", "add_down.png" );
					display: none;
				}


			.b-player__volume-controls {
				margin-left: 180px;
				margin-top: 5px;
			}


				.b-player__mute-controls {
					width: 23px;
					height: 18px;
					float: left;
				}


					.b-player__mute-button {
						@include button-constuctor( 23px, 18px, "vol_b_pre.png", "vol_b_over.png", "vol_b_down.png" );
					}


					.b-player__unmute-button {
						@include button-constuctor( 23px, 18px, "mute_b_pre.png", "mute_b_over.png", "mute_b_down.png" );
						display: none;
					}


				.b-player__volume {
					position: relative;
					width: 132px;
					height: 9px;
					background-color: #38393d;
					cursor: pointer;

					float: left;
					margin-left: 5px;
					margin-top: 5px;
				}


					.b-player__volume-bar {
						position: relative;
						height: 9px;
						background: image-url("volume_pattern.png") repeat-x;
						@include border-radius(5px);

					}


						.b-player__volume-pick {
							top: -9px;
							position: absolute;
							right: -4px;
							z-index: 1000;
							@include button-constuctor( 8px, 24px, "pick_pre.png", "pick_on.png" );
						}


					.b-player__volume-mask {
						top: -1px;
						position: absolute;
						width: 132px;
						height: 9px;
						background-image: image-url("volume_mask.png");

					}


	.b-player__cover-place {
		padding-left: 26px;
		padding-top: 9px;

		height: 142px;
		width: 149px;
		background-image: image-url("album.png");

		float: right;
		margin-right: 48px;
	}


		.b-player__cover-image {
			height: 126px;
			width: 126px;
		}