@import "compass/css3/user-interface";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

@import "_fonts.scss";
@import "_common.scss";



.player {
	width: 827px;
	height: 151px;
	padding: 0;
	background-image: image-url("player_background.png");

	@include box-shadow(0 8px 30px #222);
	@include user-select(none);
}


.player div {
	float : left;
	@include user-select(none);
}


	.buttons {
		float: left;
		margin-left: 70px;
		margin-top: 43px;

		width: 175px;
	}


		.play {
			@include button-constuctor( 56px, 62px, "play_pre.png", "play_over.png", "play_down.png" );
			position: absolute;
		}


		.pause {
			@include button-constuctor( 46px, 62px, "pause_pre.png", "pause_over.png", "pause_down.png" );
			display: none;
			position: absolute;
		}


		.rew {
			@include button-constuctor( 34px, 29px, "prev_pre.png", "prev_over.png", "prev_down.png" );
			margin-left: 83px;
			margin-top: 15px;
		}


		.ff {
			@include button-constuctor( 34px, 29px, "next_pre.png", "next_over.png", "next_down.png" );
			margin-left: 4px;
			margin-top: 15px;
		}


		.PlayerProgress {
			cursor: pointer;
			height: 8px;
			top: 70px;
			background: #38393d;

		}


			.PlayerProgress div {
				height: 7px;
				top: 0;
				width: 0;
				position: absolute;
			}


				.PlayerLoadProgress {
					top: 1px;
					background: image-url("load_pattern.png") repeat-x;

					@include border-radius(4px);

					overflow: visible;
				}


				.PlayerPlayProgress {
					background: image-url("play_pattern.png") repeat-x;
					@include border-radius(3px);
				}


					.PlayerProgress .PlayerPlayHead {
						top: -9px;
						width: 8px;
						height: 24px;
						z-index: 1000;
						background: image-url("pick_on.png");
						right: -4px;
					}
						.PlayerProgress .PlayerPlayHead > .back {
							width: 8px;
							height: 24px;
							background: image-url("pick_pre.png");
							z-index: 1001;
						}
						.PlayerProgress .PlayerPlayHead > .back:hover {
							opacity : 0;
						}


				.PlayerProgress .PlayerProgressMask {
					width: 342px;
					height: 11px;
					background: image-url("progress_mask.png");
					top: -1px;
				}


		.under {
			top: 110px;
		}


			.under div{
				position: absolute;
			}


			.PlayerAddButton
			{
				@include button-constuctor( 116px, 17px, "add_pre.png", "add_over.png", "add_down.png" );
				display: none;
			}


			.MutePre {
				@include button-constuctor( 23px, 18px, "vol_b_pre.png", "vol_b_over.png", "vol_b_down.png" );
				left: 180px;
				top: -5px;
			}


			.MuteAft {
				@include button-constuctor( 23px, 18px, "mute_pre.png", "mute_over.png", "mute_down.png" );
				left: 180px;
				top: -5px;
				display: none;
			}


			.PlayerVolBack {
				left: 210px;
				width: 132px;
				height: 9px;
				background-color: .444;
				cursor: pointer;
			}


				.PlayerVolBar {
					width: 132px;
					height: 9px;
					background: image-url("volume_pattern.png") repeat-x;
					@include border-radius(5px);
				}


					.PlayerVolumeControl {
						top: -9px;
						width: 8px;
						height: 24px;
						z-index: 1000;
						background: image-url("pick_pre.png");
						right: -4px;
					}


						.PlayerVolumeControl:hover {
							background: image-url("pick_on.png");
						}


				.PlayerVolMask {
					width: 132px;
					height: 9px;
					background-image: image-url("volume_mask.png");
				}


	.PlayerImgCont {
		padding-left: 26px;
		padding-top: 9px;
		margin-left: 5px;
		height: 142px;
		width: 149px;
		background-image: image-url("album.png");
	}


		.PlayerBigImage {
			height: 126px;
			width: 126px;
		}