
@import "compass/css3/user-interface";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

@import "_fonts.scss";
@import "_sprite.scss";


.b-player {
	@include box-shadow(0 8px 30px #222);
	@include user-select(none);
	height: 151px;
	background-image: inline-image("backgrounds/player.png");
}


	.b-player__control-buttons {
		float: left;
		margin-left: 70px;
		margin-top: 43px;
		width: 155px;
		height: 62px;
	}


		.b-player__state-buttons {
			width: 56px;
			float: left;
		}


			.b-player__play-button {
				@include player-sprite(play);
				cursor: pointer;
			}


			.b-player__pause-button {
				@include player-sprite(pause);
				display: none;
				cursor: pointer;
			}


		.b-player__prev-button {
			@include player-sprite(prev);
			margin-left: 23px;
			margin-top: 15px;
			float: left;
			cursor: pointer;
		}


		.b-player__next-button {
			@include player-sprite(next);
			margin-left: 4px;
			margin-top: 15px;
			float: left;
			cursor: pointer;
		}


	.b-player__content {
		width: 342px;
		margin-left: 10px;
		float: left;
	}


		.b-player__marquee-place {
			margin-top: 30px;
			height: 20px;
			width: 342px;
		}


		.b-player__progress {
			cursor: pointer;
			height: 8px;
			margin-top: 20px;
			background-color: #38393d;
			width: 342px;
			position: relative;
		}


			.b-player__load-bar {
				@include border-radius(4px);
				height: 7px;
				position: absolute;
				background: inline-image("backgrounds/load-pattern.png") repeat-x;
				overflow: visible;
			}


				.b-player__progress-bar {
					@include border-radius(3px);
					height: 7px;
					position: absolute;
					background: inline-image("backgrounds/play-pattern.png") repeat-x;
				}


					.b-player__progress-pick {
						@include player-sprite(pick);
						top: -9px;
						position: absolute;
						right: -4px;
						z-index: 1001;
					}


			.b-player__progress-mask {
				@include player-sprite(progress-mask);
				position: absolute;
				top: -1px;
				width: 342px;
				height: 11px;
				z-index: 1000;
			}


		.b-player__under {
			margin-top: 20px;
			height: 50px;
		}


			.b-player__status-button {
				float: left;
				width: 116px;
				height: 17px;
			}


				.b-player__add-button {
					@include player-sprite(add);
					display: none;
					cursor: pointer;
				}


			.b-player__volume-controls {
				margin-left: 180px;
				margin-top: 5px;
			}


				.b-player__mute-controls {
					width: 23px;
					height: 18px;
					float: left;
				}


					.b-player__mute-button {
						@include player-sprite(volume);
						cursor: pointer;
					}


					.b-player__unmute-button {
						@include player-sprite(muted);
						display: none;
						cursor: pointer;
					}


				.b-player__volume {
					position: relative;
					width: 132px;
					height: 9px;
					background-color: #38393d;
					cursor: pointer;
					float: left;
					margin-left: 5px;
					margin-top: 5px;
				}


					.b-player__volume-bar {
						@include border-radius(5px);
						position: relative;
						height: 9px;
						background: inline-image("backgrounds/volume-pattern.png") repeat-x;
					}


						.b-player__volume-pick {
							@include player-sprite(pick);
							top: -9px;
							position: absolute;
							right: -4px;
							z-index: 1000;
						}


					.b-player__volume-mask {
						@include player-sprite(volume-mask);
						top: -1px;
						position: absolute;
						width: 132px;
						height: 9px;
					}


	.b-player__cover-place {
		@include player-sprite(album);
		padding-left: 26px;
		padding-top: 9px;
		height: 142px;
		width: 149px;
		float: right;
		margin-right: 48px;
	}


		.b-player__cover-image {
			height: 126px;
			width: 126px;
		}