
@import "compass/css3/images";

@import "_fonts.scss";
@import "_colors.scss";
@import "_sprite.scss";


.b-similar {
	margin-top: 1px;
	margin-left: 1px;

	height: 64px;

	padding-left: 20px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 7px;

	box-shadow: 0px 0px 0px 1px $white-border;

	@include background-image(
		linear-gradient( top, $light_gray, $dark_gray ) );
}


.b-similar_selected {
	@include background-image(
		linear-gradient( top, $dark_gray, $light_gray) );
}


	.b-similar__album-cover {
		border: 1px solid $white-border;
		width: 64px;
		height: 64px;
		float: left;
		cursor: pointer;
	}


		.b-similar__cover-image {
			width: 64px;
			height: 64px;
		}


	.b-similar__content {
		margin-left: 15px;
		float: left;
	}


		.b-similar__track-title {
			@include black-gothic-font(10pt);
			width: 210px;
			cursor: pointer;
		}


			.b-similar__artist-name {
				font-weight: bold;

				height: 17px;
				display: block;
				overflow: hidden;
			}


			.b-similar__track-name {
				height: 17px;
				display: block;
				overflow: hidden;
			}


		.b-similar__buttons {
			margin-top: 7px;
			cursor: pointer;
		}


			.b-similar__play-button  {
				float: left;

				@include icons-sprite(play);
			}


			.b-similar__pause-button {
				display: none;
				float: left;

				@include icons-sprite(pause);
			}


			.b-similar__add-button {
				float: left;
				margin-left: 7px;

				@include icons-sprite(add);
			}


			.b-similar__like-button {
				float: left;
				margin-left: 7px;

				@include icons-sprite(like);
			}


			.b-similar__wiki-button {
				float: left;
				margin-left: 7px;
				display: none;

				@include icons-sprite(wiki);
			}
