
@import "compass/css3/columns";



@font-face{
	font-family: Gothic;
	font-weight: 400;
	font-style: normal;

	src: url('Century Gothic.eot');
	src: local('☺'),
	url('http://fontsforweb.com/public/fonts/1168/GOTHIC.ttf') format("truetype");
}


.b-similars {

}


	.b-similars__phrase-place {
		height           : 40px;
		background-color : rgb(223, 223, 223);
		border           : 1px solid #F5F5F5;;
		border-bottom    : 1px solid rgb(185, 185, 185);
		padding-left     : 180px;
	}


		.b-similars__phrase {
			margin-top: 10px;
			display : block;

			font-weight: bold;
			font-family: Gothic, sans-serif;
			color : rgb(33, 33, 33);
		}


	.b-similars__similars-container {
		@include columns(2);
		@include column-gap(0);

		background-color : rgb(223, 223, 223);
		overflow-x       : hidden;
		border           : 1px solid #F5F5F5;
	}


	.b-similars__more-button-place {

	}


