
@import "compass/css3/columns";
@import "_fonts.scss";
@import "_colors.scss";


.b-similars {

}


	.b-similars__phrase-place {
		height: 40px;
		background-color: $light_gray;
		border: 1px solid $white-border;
		border-bottom: 1px solid $dark_gray;
		padding-left: 180px;
	}


		.b-similars__phrase {
			@include black-gothic-font(12pt);
			margin-top: 10px;
			display: block;
		}


	.b-similars__similars-container {
		background-color: $light_gray;
		border: 1px solid $white-border;
		display: none;
	}


		.b-similars__similars-container-col1 {
			float: left;
			width: 50%;
		}


		.b-similars__similars-container-col2 {
			float: right;
			width: 50%;
		}


		// Хак для колонок
		.b-similars__similars-container-clear {
			clear: both;
			width: 0;
			height: 0;
		}


	.b-similars__more-button-place {

	}


