
.b-item {
	border : 1px solid black;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;

	-moz-box-shadow: 0 5px 3px 0 #aaaaaa;
	-webkit-box-shadow: 0 5px 3px 0 #aaaaaa;
	box-shadow:  0 5px 3px 0 #aaaaaa;

	background-image : url('../images/patt1.png');
	margin       : 35px 68px;
	margin-right : 58px;
}


.b-item_selected {
	background-image: url('../images/1/patt4.png');
}


	.b-item__header {
		height        : 120px;
		border-bottom : 1px solid black;
		position      : relative;
	}


		.b-item__album-cover {
			width            : 126px;
			height           : 126px;
			outline          : 1px solid rgb(185, 185, 185);
			background-color : rgb(223, 223, 223);
			position         : absolute;
			top              : 20px;
			left             : 20px;
			z-index          : 100;
			cursor           : pointer;
		}


			.b-item__cover-image {

			}


			.b-item__cover-shadow {
				position : absolute;
				top      : 125px;
				left     : 20px;
				height   : 10px;
				width    : 126px;

				-moz-box-shadow: 0 0 30px 0 #000, 0 0 30px 0 #000, 0 0 30px 0 #000;
				-webkit-box-shadow: 0 0 30px 0 #000, 0 0 30px 0 #000, 0 0 30px 0 #000;
				box-shadow: 0 0 30px 0 #000, 0 0 30px 0 #000, 0 0 30px 0 #000;
			}


		.b-item__content {
			position : absolute;
			left     : 180px;
			top      : 30px;
			height   : 70px;
			width    : 520px;
		}


			.b-item__track-title {
				display: block;
				overflow: hidden;
				font        : 12pt Century Gothic;
				color       : #cccccc;
				text-shadow : 1px 1px 2px #000000;
				width       : 470px;
				height      : 20px;
			}


				.b-item__artist-name {
					font        : 12pt Century Gothic;
					font-weight : 800;
				}


				.b-item__track-name {

				}


			.b-item__state-buttons {
				height   : 40px;
				position : absolute;
				bottom   : 0;
			}


				.b-item__play-button {
					background-image : url('../images/track_play_pre.png');
					height           : 28px;
					width            : 91px;
					float            : left;
					cursor: pointer;
				}


				.b-item__pause-button {

				}


			.b-item__info-place {

			}


		.b-item__control-buttons {
			position : absolute;
			right    : 10px;
			top      : 10px;
			height   : 90px;
		}


			.b-item__wiki-button {

			}


			.b-item__like-button {

			}


			.b-item__delete-button {

			}


	.b-item__similars-place {

	}

