/* Контейнер для списка */
.ListCont {
	width            : 807px;
	margin-top       : 70px;
	height           : 500px;
	overflow         : auto;
}

	.item.selected {
		background-image: url('../images/1/patt4.png');
	}

	.item {
		border : 1px solid black;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;

		-moz-box-shadow: 0 5px 3px 0 #aaaaaa;
		-webkit-box-shadow: 0 5px 3px 0 #aaaaaa;
		box-shadow:  0 5px 3px 0 #aaaaaa;

		background-image : url('../images/patt1.png');
		margin       : 35px 68px;
		margin-right : 58px;		
	}

		.ItemHeader {
			height        : 120px;
			border-bottom : 1px solid black;
			position      : relative;
		}

			.BigImg {
				width            : 126px;
				height           : 126px;
				outline          : 1px solid rgb(185, 185, 185);
				background-color : rgb(223, 223, 223);
				position         : absolute;
				top              : 20px;
				left             : 20px;
				z-index          : 100;
				cursor           : pointer;
			}

			.BigImgShadow {
				position : absolute;
				top      : 125px;
				left     : 20px;
				height   : 10px;
				width    : 126px;

				-moz-box-shadow: 0 0 30px 0 #000, 0 0 30px 0 #000, 0 0 30px 0 #000;
				-webkit-box-shadow: 0 0 30px 0 #000, 0 0 30px 0 #000, 0 0 30px 0 #000;
				box-shadow: 0 0 30px 0 #000, 0 0 30px 0 #000, 0 0 30px 0 #000;
			}

			.ItemInfoCont {
				position : absolute;
				left     : 180px;
				top      : 30px;
				height   : 70px;
				width    : 520px;
			}

				.ItemTitle {
					display: block;
					overflow: hidden;
					font        : 12pt Century Gothic;
					color       : #cccccc;
					text-shadow : 1px 1px 2px #000000;
					width       : 470px;
					height      : 20px;
				}

					.ItemArtist {
						font        : 12pt Century Gothic;
						font-weight : 800;
					}

				.ItemButtoms {
					height   : 40px;
					position : absolute;
					bottom   : 0;
				}

					.ItemPlayB {
						background-image : url('../images/track_play_pre.png');
						height           : 28px;
						width            : 91px;
						float            : left;
						cursor: pointer;
					}


					.ItemAlbumCont {
						position : absolute;
						left     : 150px;
						width    : 300px;
						cursor: pointer;

					}

						.ItemAlbum, .ItemTags {
						    height : 20px;
							display : block;
						    overflow : hidden;
							color       : #cccccc;
							text-shadow : 1px 1px 2px #000000;
						}

							.ItemAlbumTitle, .ItemTagsTitle {
								font        : 12pt Century Gothic;
								font-weight : 800;
							}

			.ItemButtonsCont {
				position : absolute;
				right    : 10px;
				top      : 10px;
				height   : 90px;
			}






		.ItemDelim {
			height           : 40px;
			background-color : rgb(223, 223, 223);
			border           : 1px solid #F5F5F5;;
			border-bottom    : 1px solid rgb(185, 185, 185);
			padding-left     : 180px;
		}

			.ItemDelimPhrase {
			    margin-top: 10px;
				display : block;
				font        : 14pt Century Gothic;
				color : rgb(33, 33, 33);
			}

		.ItemSimCont {
			background-color : rgb(223, 223, 223);
			overflow-x       : hidden;
			border           : 1px solid #F5F5F5;;
		}

			.SimLeftCol, .SimRightCol {
				outline : 1px solid #F5F5F5;;
				width   : 50%;
				float   : left;
			}

				.SimItem.selected {
					background-image: linear-gradient(bottom, rgb(184,184,184) 100%, rgb(240,240,240) 65%);
					background-image: -o-linear-gradient(bottom, rgb(184,184,184) 100%, rgb(240,240,240) 65%);
					background-image: -moz-linear-gradient(bottom, rgb(184,184,184) 100%, rgb(240,240,240) 65%);
					background-image: -webkit-linear-gradient(bottom, rgb(184,184,184) 100%, rgb(240,240,240) 65%);
					background-image: -ms-linear-gradient(bottom, rgb(184,184,184) 100%, rgb(240,240,240) 65%);

					background-image: -webkit-gradient(
						linear,
						left bottom,
						left top,
						color-stop(1, rgb(184,184,184)),
						color-stop(0.65, rgb(240,240,240))
					);
				}

				.SimItem {
					height       : 72px;
					padding-left : 20px;
					padding-top  : 8px;
					outline      : 1px solid #F5F5F5;;


					background-image: linear-gradient(bottom, rgb(186,185,185) 0%, rgb(223,223,223) 50%);
					background-image: -o-linear-gradient(bottom, rgb(186,185,185) 0%, rgb(223,223,223) 50%);
					background-image: -moz-linear-gradient(bottom, rgb(186,185,185) 0%, rgb(223,223,223) 50%);
					background-image: -webkit-linear-gradient(bottom, rgb(186,185,185) 0%, rgb(223,223,223) 50%);
					background-image: -ms-linear-gradient(bottom, rgb(186,185,185) 0%, rgb(223,223,223) 50%);

					background-image: -webkit-gradient(
						linear,
						left bottom,
						left top,
						color-stop(0, rgb(186,185,185)),
						color-stop(0.5, rgb(223,223,223))
					);
				}

					.SmallImg {
						outline : 1px solid #F5F5F5;;
						width   : 64px;
						height  : 64px;
						float   : left;
						cursor: pointer;
					}

					.SimInfoCont {
						margin-left : 15px;
						float       : left;
					}

						.SimTitle {
							width  : 220px;
							height : 30px;
						}

							.SimArtist {
							    height      : 15px;;
								display     : block;
								font        : 12pt Century Gothic;
								font-weight : 800;
								color       : rgb(33, 33, 33);
								overflow    : hidden;
							}

							.SimName {
							    height  : 15px;;
								display : block;
								color   : rgb(33, 33, 33);
							}

						.SimButtonsCont {
							margin-top : 10px;
							cursor: pointer;
						}

		.ItemFooter {
			height       : 30px;
			padding-left : 310px;
		}