
<div class="b-item__header">
	<div class="b-item__album-cover" title="Играть">
		<img class="b-item__cover-image" src="<%= cover %>" />
		<div class="b-item__cover-shadow"></div>
	</div>

	<div class="b-item__content">
		<div class="b-item__track-title" title="Играть">
			<span class="b-item__artist-name">
				<%= artist %>
			</span>
			&nbsp; &mdash; &nbsp;
			<span class="b-item__track-name">
				<%= title %>
			</span>
		</div>

		<div class="b-item__state-buttons">
			<div class="b-item__play-button"></div>
			<div class="b-item__pause-button"></div>
		</div>

		<div class="b-item__info-place">
			<!-- InfoView -->
		</div>
	</div>

	<div class="b-item__control-buttons">
		<div class="b-item__wiki-button" title="Биография"></div>
		<div class="b-item__like-button" title="Добавить на стену"></div>
		<div class="b-item__delete-button" title="Удалить запись"></div>
	</div>
</div>

<div class="b-item__similars-place">
	<!-- SimilarsView -->
</div>
