/* line 2, ../../app/styles/navigation.scss */
.Navigation {
  height: 27px;
  margin-left: 68px;
  margin-top: -30px;
  position: absolute;
  font: 11pt Century Gothic;
  color: #cccccc;
  text-shadow: 1px 1px 2px #000000;
  font-weight: 800;
  text-align: center;
}

/* line 14, ../../app/styles/navigation.scss */
.NavNext {
  height: 17px;
  width: 17px;
  background: url(../images/next.png) 0 -35px no-repeat;
  margin: 0 4px 0 4px;
  float: left;
  top: 2px;
  cursor: pointer;
}

/* line 23, ../../app/styles/navigation.scss */
.NavNext:hover {
  background-position: 0 -18px;
}

/* line 27, ../../app/styles/navigation.scss */
.NavPrev {
  height: 16px;
  width: 16px;
  background: url(../images/prew.png) 0 -35px no-repeat;
  float: left;
  cursor: pointer;
}

/* line 34, ../../app/styles/navigation.scss */
.NavPrev:hover {
  background-position: 0 -18px;
}

/* line 38, ../../app/styles/navigation.scss */
.NavFirst {
  height: 17px;
  width: 17px;
  background: url(../images/first.png) 0 -35px no-repeat;
  margin: 0 8px 0 0;
  float: left;
  top: 2px;
  cursor: pointer;
}

/* line 47, ../../app/styles/navigation.scss */
.NavFirst:hover {
  background-position: 0 -18px;
}

/* line 51, ../../app/styles/navigation.scss */
.NavLast {
  height: 16px;
  width: 16px;
  background: url(../images/last.png) 0 -35px no-repeat;
  float: left;
  cursor: pointer;
}

/* line 58, ../../app/styles/navigation.scss */
.NavLast:hover {
  background-position: 0 -18px;
}

/* line 62, ../../app/styles/navigation.scss */
.NavItem {
  height: 27px;
  width: 24px;
  margin: 0 2px 0 1px;
  float: left;
  background: url(../images/number.png);
  cursor: pointer;
}

/* line 70, ../../app/styles/navigation.scss */
.NavItem:hover {
  background-position: 0 -27px;
}

/* line 74, ../../app/styles/navigation.scss */
.NavItem.Cur {
  height: 27px;
  width: 24px;
  margin: 0 2px 0 1px;
  float: left;
  background: url(../images/number.png) 0 -27px;
  cursor: default;
}

/* line 83, ../../app/styles/navigation.scss */
.Space {
  height: 27px;
  width: 24px;
  margin: 0 2px 0 1px;
  float: left;
  background: url(../images/space.png) 0 0px;
}

@charset "UTF-8";
@font-face {
  font-family: Gothic;
  font-weight: 400;
  font-style: normal;
  src: url("Century Gothic.eot");
  src: local("☺"), url("http://fontsforweb.com/public/fonts/1168/GOTHIC.ttf") format("truetype");
}

/* line 14, ../../app/styles/player.scss */
.player {
  width: 807px;
  height: 151px;
  padding: 0;
  background-image: url(../images/player_background.png);
  -moz-shadow: 0 8px 30px #222;
  -webkit-box-shadow: 0 8px 30px #222;
  box-shadow: 0 8px 30px #222;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
}

/* line 29, ../../app/styles/player.scss */
.player div {
  float: left;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
}

/* line 36, ../../app/styles/player.scss */
.buttons {
  float: left;
  margin-left: 70px;
  margin-top: 43px;
}

/* line 42, ../../app/styles/player.scss */
.play {
  width: 56px;
  height: 62px;
  background-image: url(../images/play_over.png);
  position: absolute;
  cursor: pointer;
}

/* line 49, ../../app/styles/player.scss */
.play > .back {
  width: 56px;
  height: 62px;
  background: url(../images/play_pre.png);
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

/* line 60, ../../app/styles/player.scss */
.play > .back:hover {
  opacity: 0;
}

/* line 63, ../../app/styles/player.scss */
.play:active {
  background-image: url(../images/play_down.png);
}

/* line 67, ../../app/styles/player.scss */
.pause {
  width: 46px;
  height: 62px;
  background-image: url(../images/pause_over.png);
  display: none;
  position: absolute;
  cursor: pointer;
}

/* line 75, ../../app/styles/player.scss */
.pause > .back {
  width: 46px;
  height: 62px;
  background: url(../images/pause_pre.png);
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

/* line 85, ../../app/styles/player.scss */
.pause > .back:hover {
  opacity: 0;
}

/* line 88, ../../app/styles/player.scss */
.pause:active {
  background-image: url(../images/pause_down.png);
}

/* line 92, ../../app/styles/player.scss */
.rew {
  width: 34px;
  height: 29px;
  background-image: url(../images/prev_over.png);
  margin-left: 83px;
  margin-top: 15px;
  cursor: pointer;
}

/* line 101, ../../app/styles/player.scss */
.rew > .back {
  width: 34px;
  height: 29px;
  background-image: url(../images/prev_pre.png);
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

/* line 111, ../../app/styles/player.scss */
.rew > .back:hover {
  opacity: 0;
}

/* line 114, ../../app/styles/player.scss */
.rew:active {
  background-image: url(../images/prev_down.png);
}

/* line 118, ../../app/styles/player.scss */
.ff {
  width: 34px;
  height: 29px;
  background-image: url(../images/next_over.png);
  margin-left: 4px;
  margin-top: 15px;
  cursor: pointer;
}

/* line 126, ../../app/styles/player.scss */
.ff > .back {
  width: 34px;
  height: 29px;
  background-image: url(../images/next_pre.png);
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

/* line 136, ../../app/styles/player.scss */
.ff > .back:hover {
  opacity: 0;
}

/* line 139, ../../app/styles/player.scss */
.ff:active {
  background-image: url(../images/next_down.png);
}

/* line 143, ../../app/styles/player.scss */
.playinfo {
  margin-left: 10px;
  height: 151px;
  width: 342px;
  font: 12pt Century Gothic;
}

/* line 150, ../../app/styles/player.scss */
.playinfo > div {
  width: 342px;
  position: absolute;
}

/* line 155, ../../app/styles/player.scss */
.mariquee {
  width: 342px;
  position: absolute;
}

/* line 161, ../../app/styles/player.scss */
.trackinfo {
  height: 13px;
  top: 30px;
  padding: 0 0 10px 0;
  overflow: hidden;
}

/*.trackinfo > div{
	overflow : hidden;
	width    : 32000px;
	position : absolute;
}
*/
/* line 173, ../../app/styles/player.scss */
.trackinfo p {
  float: left;
  margin: 0;
  font-family: Gothic, sans-serif;
  font-size: 12pt;
  color: #cccccc;
  text-shadow: 1px 1px 2px #000000;
}

/* line 184, ../../app/styles/player.scss */
.PlayerProgress {
  cursor: pointer;
  height: 8px;
  top: 70px;
  background: #38393d;
}

/* line 192, ../../app/styles/player.scss */
.PlayerProgress div {
  height: 7px;
  top: 0;
  width: 0;
  position: absolute;
}

/* line 199, ../../app/styles/player.scss */
.PlayerLoadProgress {
  top: 1px;
  background: url(../images/load_pattern.png) repeat-x;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: visible;
}

/* line 209, ../../app/styles/player.scss */
.PlayerPlayProgress {
  background: url(../images/play_pattern.png) repeat-x;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 216, ../../app/styles/player.scss */
.PlayerProgress .PlayerPlayHead {
  top: -9px;
  width: 8px;
  height: 24px;
  z-index: 1000;
  background: url(../images/pick_on.png);
  right: -4px;
}

/* line 224, ../../app/styles/player.scss */
.PlayerProgress .PlayerPlayHead > .back {
  width: 8px;
  height: 24px;
  background: url(../images/pick_pre.png);
  z-index: 1001;
  -moz-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  -webkit-transition: opacity 0.1s ease;
  -ms-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

/* line 237, ../../app/styles/player.scss */
.PlayerProgress .PlayerPlayHead > .back:hover {
  opacity: 0;
}

/* line 241, ../../app/styles/player.scss */
.PlayerProgress .PlayerProgressMask {
  width: 342px;
  height: 11px;
  background: url(../images/progress_mask.png);
  top: -1px;
}

/* line 248, ../../app/styles/player.scss */
.under {
  top: 110px;
}

/* line 252, ../../app/styles/player.scss */
.under div {
  position: absolute;
}

/* line 257, ../../app/styles/player.scss */
.PlayerAddButton {
  width: 116px;
  height: 17px;
  background-image: url(../images/add_over.png);
  cursor: pointer;
  display: none;
}

/* line 264, ../../app/styles/player.scss */
.PlayerAddButton > .back {
  width: 116px;
  height: 17px;
  background-image: url(../images/add_pre.png);
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

/* line 274, ../../app/styles/player.scss */
.PlayerAddButton > .back:hover {
  opacity: 0;
}

/* line 277, ../../app/styles/player.scss */
.PlayerAddButton:active {
  background-image: url(../images/add_down.png);
}

/* line 281, ../../app/styles/player.scss */
.MutePre {
  left: 180px;
  top: -5px;
  width: 23px;
  height: 18px;
  background-image: url(../images/vol_b_over.png);
  cursor: pointer;
}

/* line 289, ../../app/styles/player.scss */
.MutePre > .back {
  width: 23px;
  height: 18px;
  background-image: url(../images/vol_b_pre.png);
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

/* line 299, ../../app/styles/player.scss */
.MutePre > .back:hover {
  opacity: 0;
}

/* line 302, ../../app/styles/player.scss */
.MutePre:active {
  background-image: url(../images/vol_b_down.png);
}

/* line 306, ../../app/styles/player.scss */
.MuteAft {
  left: 180px;
  top: -5px;
  width: 23px;
  height: 18px;
  background-image: url(../images/mute_b_over.png);
  display: none;
  cursor: pointer;
}

/* line 315, ../../app/styles/player.scss */
.MuteAft > .back {
  width: 23px;
  height: 18px;
  background-image: url(../images/mute_b_pre.png);
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

/* line 325, ../../app/styles/player.scss */
.MuteAft > .back:hover {
  opacity: 0;
}

/* line 328, ../../app/styles/player.scss */
.MuteAft:active {
  background-image: url(../images/mute_b_down.png);
}

/* line 332, ../../app/styles/player.scss */
.PlayerVolBack {
  left: 210px;
  width: 132px;
  height: 9px;
  background-color: .444;
  cursor: pointer;
}

/* line 340, ../../app/styles/player.scss */
.PlayerVolBar {
  width: 132px;
  height: 9px;
  background: url(../images/volume_pattern.png) repeat-x;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 349, ../../app/styles/player.scss */
.PlayerVolumeControl {
  top: -9px;
  width: 8px;
  height: 24px;
  z-index: 1000;
  background: url(../images/pick_on.png);
  /* TODO: Другая картинка, выравнивание */
  right: -4px;
}

/* line 358, ../../app/styles/player.scss */
.PlayerVolumeControl > .back {
  width: 8px;
  height: 24px;
  background: url(../images/pick_pre.png);
  z-index: 1001;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

/* line 369, ../../app/styles/player.scss */
.PlayerVolumeControl > .back:hover {
  opacity: 0;
}

/* line 373, ../../app/styles/player.scss */
.PlayerVolMask {
  width: 132px;
  height: 9px;
  background-image: url(../images/volume_mask.png);
}

/* line 379, ../../app/styles/player.scss */
.PlayerImgCont {
  padding-left: 26px;
  padding-top: 9px;
  margin-left: 5px;
  height: 142px;
  width: 149px;
  background-image: url(../images/album.png);
}

/* line 388, ../../app/styles/player.scss */
.PlayerBigImage {
  height: 126px;
  width: 126px;
}

/* line 1, ../../app/styles/app.scss */
body {
  background-image: url('../images/patterns/patt2.png?1348862269');
  margin: 0;
}

/* line 6, ../../app/styles/app.scss */
.b-list {
  width: 827px;
  margin-top: 70px;
  height: 2000px;
  overflow: auto;
}

@charset "UTF-8";
@font-face {
  font-family: Gothic;
  font-weight: 400;
  font-style: normal;
  src: url("Century Gothic.eot");
  src: local("☺"), url("http://fontsforweb.com/public/fonts/1168/GOTHIC.ttf") format("truetype");
}

/* line 8, ../../app/styles/item.scss */
.b-item {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 3px 0 #aaaaaa;
  -moz-box-shadow: 0 5px 3px 0 #aaaaaa;
  box-shadow: 0 5px 3px 0 #aaaaaa;
  border: 1px solid black;
  background-image: url('../images/patterns/patt1.png?1348862269');
  margin: 35px 70px;
  padding: 0 1px;
}

/* line 20, ../../app/styles/item.scss */
.b-item_selected {
  background-image: url("patterns/patt4.png");
}

/* line 25, ../../app/styles/item.scss */
.b-item__header {
  height: 120px;
  border-bottom: 1px solid black;
  position: relative;
}

/* line 32, ../../app/styles/item.scss */
.b-item__album-cover {
  width: 126px;
  height: 126px;
  outline: 1px solid #bebebe;
  background-color: #dfdfdf;
  position: relative;
  top: 20px;
  left: 20px;
  z-index: 100;
  cursor: pointer;
}

/* line 45, ../../app/styles/item.scss */
.b-item__cover-image {
  width: 126px;
  height: 126px;
  position: relative;
  z-index: 1000;
}

/* line 54, ../../app/styles/item.scss */
.b-item__cover-shadow {
  position: absolute;
  top: 116px;
  height: 10px;
  width: 126px;
  -webkit-box-shadow: 0 0 30px 0 black, 0 0 30px 0 black, 0 0 30px 0 black;
  -moz-box-shadow: 0 0 30px 0 black, 0 0 30px 0 black, 0 0 30px 0 black;
  box-shadow: 0 0 30px 0 black, 0 0 30px 0 black, 0 0 30px 0 black;
}

/* line 65, ../../app/styles/item.scss */
.b-item__content {
  position: absolute;
  left: 180px;
  top: 30px;
  height: 70px;
  width: 470px;
}

/* line 75, ../../app/styles/item.scss */
.b-item__track-title {
  font-family: Gothic, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  color: #cdcdcd;
  text-shadow: 1px 1px 2px black;
  height: 22px;
  overflow: hidden;
}

/* line 84, ../../app/styles/item.scss */
.b-item__artist-name {
  font-weight: bold;
}

/* line 94, ../../app/styles/item.scss */
.b-item__state-buttons {
  height: 40px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

/* line 102, ../../app/styles/item.scss */
.b-item__play-button {
  width: 93px;
  height: 32px;
  background-image: url('../images/good/item_play_button.png?1348862269');
}
/* line 10, ../../app/styles/_common.scss */
.b-item__play-button:hover {
  background-image: url('../images/good/item_play_button_over.png?1348862269');
}

/* line 111, ../../app/styles/item.scss */
.b-item__pause-button {
  display: none;
  width: 93px;
  height: 32px;
  background-image: url('../images/good/item_pause_button.png?1348862269');
}
/* line 10, ../../app/styles/_common.scss */
.b-item__pause-button:hover {
  background-image: url('../images/good/item_pause_button_over.png?1348862269');
}

/* line 126, ../../app/styles/item.scss */
.b-item__control-buttons {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 90px;
}

/* line 134, ../../app/styles/item.scss */
.b-item__wiki-button {
  float: left;
  width: 13px;
  height: 13px;
  background-image: url('../images/good/wiki_icon.png?1348862269');
}
/* line 10, ../../app/styles/_common.scss */
.b-item__wiki-button:hover {
  background-image: url('../images/good/wiki_icon_over.png?1348862269');
}

/* line 141, ../../app/styles/item.scss */
.b-item__like-button {
  float: left;
  margin-left: 7px;
  width: 13px;
  height: 13px;
  background-image: url('../images/good/like_icon.png?1348862269');
}
/* line 10, ../../app/styles/_common.scss */
.b-item__like-button:hover {
  background-image: url('../images/good/like_icon_over.png?1348862269');
}

/* line 149, ../../app/styles/item.scss */
.b-item__delete-button {
  float: left;
  margin-left: 14px;
  width: 13px;
  height: 13px;
  background-image: url('../images/good/delete_icon.png?1348862269');
}
/* line 10, ../../app/styles/_common.scss */
.b-item__delete-button:hover {
  background-image: url('../images/good/delete_icon_over.png?1348862269');
}

@charset "UTF-8";
@font-face {
  font-family: Gothic;
  font-weight: 400;
  font-style: normal;
  src: url("Century Gothic.eot");
  src: local("☺"), url("http://fontsforweb.com/public/fonts/1168/GOTHIC.ttf") format("truetype");
}

/* line 12, ../../app/styles/similars.scss */
.b-similars__phrase-place {
  height: 40px;
  background-color: #dfdfdf;
  border: 1px solid whitesmoke;
  border-bottom: 1px solid #bebebe;
  padding-left: 180px;
}

/* line 21, ../../app/styles/similars.scss */
.b-similars__phrase {
  margin-top: 10px;
  display: block;
  font-family: Gothic, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  color: #212121;
}

/* line 29, ../../app/styles/similars.scss */
.b-similars__similars-container {
  -webkit-columns: 2;
  -moz-columns: 2;
  -ms-columns: 2;
  -o-columns: 2;
  columns: 2;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  -ms-column-gap: 0;
  -o-column-gap: 0;
  column-gap: 0;
  background-color: #dfdfdf;
  border: 1px solid whitesmoke;
  display: none;
}

@charset "UTF-8";
@font-face {
  font-family: Gothic;
  font-weight: 400;
  font-style: normal;
  src: url("Century Gothic.eot");
  src: local("☺"), url("http://fontsforweb.com/public/fonts/1168/GOTHIC.ttf") format("truetype");
}

/* line 4, ../../app/styles/info.scss */
.b-item-info {
  font-family: Gothic, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  color: #cdcdcd;
  text-shadow: 1px 1px 2px black;
  position: absolute;
  left: 157px;
  overflow: hidden;
}

/* line 12, ../../app/styles/info.scss */
.b-item-info__album {
  height: 22px;
  display: block;
}

/* line 18, ../../app/styles/info.scss */
.b-item-info__album-title {
  font-weight: bold;
}

/* line 23, ../../app/styles/info.scss */
.b-item-info__tags {
  height: 22px;
  display: block;
}

/* line 29, ../../app/styles/info.scss */
.b-item-info__tags-title {
  font-weight: bold;
}

@charset "UTF-8";
@font-face {
  font-family: Gothic;
  font-weight: 400;
  font-style: normal;
  src: url("Century Gothic.eot");
  src: local("☺"), url("http://fontsforweb.com/public/fonts/1168/GOTHIC.ttf") format("truetype");
}

/* line 5, ../../app/styles/more.scss */
.b-more-button {
  margin: 5px auto;
  width: 140px;
  height: 20px;
}

/* line 11, ../../app/styles/more.scss */
.b-more-button__show-more-button {
  cursor: pointer;
}

/* line 15, ../../app/styles/more.scss */
.b-more-button__show-more-text {
  font-family: Gothic, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  color: #cdcdcd;
  text-shadow: 1px 1px 2px black;
  display: block;
  float: left;
}

/* line 22, ../../app/styles/more.scss */
.b-more-button__show-more-icon {
  float: left;
  margin-left: 10px;
  margin-top: 3px;
  width: 16px;
  height: 16px;
  background-image: url('../images/good/show_more_icon.png?1348862269');
}

/* line 34, ../../app/styles/more.scss */
.b-more-button__show-loader {
  margin-left: 35px;
  font-family: Gothic, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  color: #cdcdcd;
  text-shadow: 1px 1px 2px black;
}

@charset "UTF-8";
@font-face {
  font-family: Gothic;
  font-weight: 400;
  font-style: normal;
  src: url("Century Gothic.eot");
  src: local("☺"), url("http://fontsforweb.com/public/fonts/1168/GOTHIC.ttf") format("truetype");
}

/* line 8, ../../app/styles/similar.scss */
.b-similar {
  margin-top: 1px;
  margin-left: 1px;
  height: 64px;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 7px;
  outline: 1px solid whitesmoke;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfdfdf), color-stop(100%, #bebebe));
  background-image: -webkit-linear-gradient(top, #dfdfdf, #bebebe);
  background-image: -moz-linear-gradient(top, #dfdfdf, #bebebe);
  background-image: -o-linear-gradient(top, #dfdfdf, #bebebe);
  background-image: linear-gradient(top, #dfdfdf, #bebebe);
}

/* line 26, ../../app/styles/similar.scss */
.b-similar_selected {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bebebe), color-stop(100%, #dfdfdf));
  background-image: -webkit-linear-gradient(top, #bebebe, #dfdfdf);
  background-image: -moz-linear-gradient(top, #bebebe, #dfdfdf);
  background-image: -o-linear-gradient(top, #bebebe, #dfdfdf);
  background-image: linear-gradient(top, #bebebe, #dfdfdf);
}

/* line 32, ../../app/styles/similar.scss */
.b-similar__album-cover {
  outline: 1px solid whitesmoke;
  width: 64px;
  height: 64px;
  float: left;
  cursor: pointer;
}

/* line 41, ../../app/styles/similar.scss */
.b-similar__cover-image {
  width: 64px;
  height: 64px;
}

/* line 47, ../../app/styles/similar.scss */
.b-similar__content {
  margin-left: 15px;
  float: left;
}

/* line 53, ../../app/styles/similar.scss */
.b-similar__track-title {
  font-family: Gothic, sans-serif;
  font-size: 10pt;
  font-weight: normal;
  color: #212121;
  width: 210px;
  cursor: pointer;
}

/* line 60, ../../app/styles/similar.scss */
.b-similar__artist-name {
  font-weight: bold;
  height: 17px;
  display: block;
  overflow: hidden;
}

/* line 69, ../../app/styles/similar.scss */
.b-similar__track-name {
  height: 17px;
  display: block;
  overflow: hidden;
}

/* line 76, ../../app/styles/similar.scss */
.b-similar__buttons {
  margin-top: 7px;
  cursor: pointer;
}

/* line 82, ../../app/styles/similar.scss */
.b-similar__play-button {
  float: left;
  width: 13px;
  height: 13px;
  background-image: url('../images/good/play_icon.png?1348862269');
}
/* line 10, ../../app/styles/_common.scss */
.b-similar__play-button:hover {
  background-image: url('../images/good/play_icon_over.png?1348862269');
}

/* line 89, ../../app/styles/similar.scss */
.b-similar__pause-button {
  display: none;
  float: left;
  width: 13px;
  height: 13px;
  background-image: url('../images/good/pause_icon.png?1348862269');
}
/* line 10, ../../app/styles/_common.scss */
.b-similar__pause-button:hover {
  background-image: url('../images/good/pause_icon_over.png?1348862269');
}

/* line 97, ../../app/styles/similar.scss */
.b-similar__add-button {
  float: left;
  margin-left: 7px;
  width: 13px;
  height: 13px;
  background-image: url('../images/good/add_icon.png?1348862269');
}
/* line 10, ../../app/styles/_common.scss */
.b-similar__add-button:hover {
  background-image: url('../images/good/add_icon_over.png?1348862269');
}

/* line 105, ../../app/styles/similar.scss */
.b-similar__like-button {
  float: left;
  margin-left: 7px;
  width: 13px;
  height: 13px;
  background-image: url('../images/good/like_icon.png?1348862269');
}
/* line 10, ../../app/styles/_common.scss */
.b-similar__like-button:hover {
  background-image: url('../images/good/like_icon_over.png?1348862269');
}

/* line 113, ../../app/styles/similar.scss */
.b-similar__wiki-button {
  float: left;
  margin-left: 7px;
  width: 13px;
  height: 13px;
  background-image: url('../images/good/wiki_icon.png?1348862269');
}
/* line 10, ../../app/styles/_common.scss */
.b-similar__wiki-button:hover {
  background-image: url('../images/good/wiki_icon_over.png?1348862269');
}
