@charset "UTF-8";
@font-face {
  font-family: Gothic;
  font-weight: 400;
  font-style: normal;
  src: url("Century Gothic.eot");
  src: local("☺"), url("http://fontsforweb.com/public/fonts/1168/GOTHIC.ttf") format("truetype");
}

/* line 10, ../../app/styles/player1.scss */
.player {
  width: 827px;
  height: 151px;
  padding: 0;
  background-image: url('../images/player_background.png?1349446339');
  -webkit-box-shadow: 0 8px 30px #222222;
  -moz-box-shadow: 0 8px 30px #222222;
  box-shadow: 0 8px 30px #222222;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 21, ../../app/styles/player1.scss */
.player div {
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 27, ../../app/styles/player1.scss */
.buttons {
  float: left;
  margin-left: 70px;
  margin-top: 43px;
  width: 175px;
}

/* line 36, ../../app/styles/player1.scss */
.play {
  width: 56px;
  height: 62px;
  cursor: pointer;
  background-image: url('../images/play_pre.png?1349446339');
  position: absolute;
}
/* line 15, ../../app/styles/_common.scss */
.play:hover {
  background-image: url('../images/play_over.png?1349446339');
}
/* line 21, ../../app/styles/_common.scss */
.play:active {
  background-image: url('../images/play_down.png?1349446339');
}

/* line 42, ../../app/styles/player1.scss */
.pause {
  width: 46px;
  height: 62px;
  cursor: pointer;
  background-image: url('../images/pause_pre.png?1349446339');
  display: none;
  position: absolute;
}
/* line 15, ../../app/styles/_common.scss */
.pause:hover {
  background-image: url('../images/pause_over.png?1349446339');
}
/* line 21, ../../app/styles/_common.scss */
.pause:active {
  background-image: url('../images/pause_down.png?1349446339');
}

/* line 49, ../../app/styles/player1.scss */
.rew {
  width: 34px;
  height: 29px;
  cursor: pointer;
  background-image: url('../images/prev_pre.png?1349446339');
  margin-left: 83px;
  margin-top: 15px;
}
/* line 15, ../../app/styles/_common.scss */
.rew:hover {
  background-image: url('../images/prev_over.png?1349446339');
}
/* line 21, ../../app/styles/_common.scss */
.rew:active {
  background-image: url('../images/prev_down.png?1349446339');
}

/* line 56, ../../app/styles/player1.scss */
.ff {
  width: 34px;
  height: 29px;
  cursor: pointer;
  background-image: url('../images/next_pre.png?1349446340');
  margin-left: 4px;
  margin-top: 15px;
}
/* line 15, ../../app/styles/_common.scss */
.ff:hover {
  background-image: url('../images/next_over.png?1349446339');
}
/* line 21, ../../app/styles/_common.scss */
.ff:active {
  background-image: url('../images/next_down.png?1349446339');
}

/* line 63, ../../app/styles/player1.scss */
.PlayerProgress {
  cursor: pointer;
  height: 8px;
  top: 70px;
  background: #38393d;
}

/* line 72, ../../app/styles/player1.scss */
.PlayerProgress div {
  height: 7px;
  top: 0;
  width: 0;
  position: absolute;
}

/* line 80, ../../app/styles/player1.scss */
.PlayerLoadProgress {
  top: 1px;
  background: url('../images/load_pattern.png?1349446339') repeat-x;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: visible;
}

/* line 90, ../../app/styles/player1.scss */
.PlayerPlayProgress {
  background: url('../images/play_pattern.png?1349446339') repeat-x;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 96, ../../app/styles/player1.scss */
.PlayerProgress .PlayerPlayHead {
  top: -9px;
  width: 8px;
  height: 24px;
  z-index: 1000;
  background: url('../images/pick_on.png?1349446339');
  right: -4px;
}

/* line 104, ../../app/styles/player1.scss */
.PlayerProgress .PlayerPlayHead > .back {
  width: 8px;
  height: 24px;
  background: url('../images/pick_pre.png?1349446339');
  z-index: 1001;
}

/* line 110, ../../app/styles/player1.scss */
.PlayerProgress .PlayerPlayHead > .back:hover {
  opacity: 0;
}

/* line 115, ../../app/styles/player1.scss */
.PlayerProgress .PlayerProgressMask {
  width: 342px;
  height: 11px;
  background: url('../images/progress_mask.png?1349446340');
  top: -1px;
}

/* line 123, ../../app/styles/player1.scss */
.under {
  top: 110px;
}

/* line 128, ../../app/styles/player1.scss */
.under div {
  position: absolute;
}

/* line 134, ../../app/styles/player1.scss */
.PlayerAddButton {
  width: 116px;
  height: 17px;
  cursor: pointer;
  background-image: url('../images/add_pre.png?1349446339');
  display: none;
}
/* line 15, ../../app/styles/_common.scss */
.PlayerAddButton:hover {
  background-image: url('../images/add_over.png?1349446339');
}
/* line 21, ../../app/styles/_common.scss */
.PlayerAddButton:active {
  background-image: url('../images/add_down.png?1349446339');
}

/* line 140, ../../app/styles/player1.scss */
.MutePre {
  width: 23px;
  height: 18px;
  cursor: pointer;
  background-image: url('../images/vol_b_pre.png?1349446340');
  left: 180px;
  top: -5px;
}
/* line 15, ../../app/styles/_common.scss */
.MutePre:hover {
  background-image: url('../images/vol_b_over.png?1349446339');
}
/* line 21, ../../app/styles/_common.scss */
.MutePre:active {
  background-image: url('../images/vol_b_down.png?1349446339');
}

/* line 147, ../../app/styles/player1.scss */
.MuteAft {
  width: 23px;
  height: 18px;
  cursor: pointer;
  background-image: url('../images/mute_pre.png');
  left: 180px;
  top: -5px;
  display: none;
}
/* line 15, ../../app/styles/_common.scss */
.MuteAft:hover {
  background-image: url('../images/mute_over.png');
}
/* line 21, ../../app/styles/_common.scss */
.MuteAft:active {
  background-image: url('../images/mute_down.png');
}

/* line 155, ../../app/styles/player1.scss */
.PlayerVolBack {
  left: 210px;
  width: 132px;
  height: 9px;
  background-color: .444;
  cursor: pointer;
}

/* line 164, ../../app/styles/player1.scss */
.PlayerVolBar {
  width: 132px;
  height: 9px;
  background: url('../images/volume_pattern.png?1349446339') repeat-x;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 172, ../../app/styles/player1.scss */
.PlayerVolumeControl {
  top: -9px;
  width: 8px;
  height: 24px;
  z-index: 1000;
  background: url('../images/pick_pre.png?1349446339');
  right: -4px;
}

/* line 182, ../../app/styles/player1.scss */
.PlayerVolumeControl:hover {
  background: url('../images/pick_on.png?1349446339');
}

/* line 187, ../../app/styles/player1.scss */
.PlayerVolMask {
  width: 132px;
  height: 9px;
  background-image: url('../images/volume_mask.png?1349446340');
}

/* line 194, ../../app/styles/player1.scss */
.PlayerImgCont {
  padding-left: 26px;
  padding-top: 9px;
  margin-left: 5px;
  height: 142px;
  width: 149px;
  background-image: url('../images/album.png?1349446340');
}

/* line 204, ../../app/styles/player1.scss */
.PlayerBigImage {
  height: 126px;
  width: 126px;
}

@charset "UTF-8";
@font-face {
  font-family: Gothic;
  font-weight: 400;
  font-style: normal;
  src: url("Century Gothic.eot");
  src: local("☺"), url("http://fontsforweb.com/public/fonts/1168/GOTHIC.ttf") format("truetype");
}

/* line 4, ../../app/styles/navigation.scss */
.b-navigation {
  font-family: Gothic, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  color: #cdcdcd;
  text-shadow: 1px 1px 2px black;
  height: 27px;
  margin-left: 68px;
  margin-top: -30px;
  position: absolute;
  text-align: center;
  cursor: pointer;
}

/* line 17, ../../app/styles/navigation.scss */
.b-navigation__next {
  height: 17px;
  width: 17px;
  background: url('../images/next.png?1349446339') 0 -35px no-repeat;
  margin: 0 4px 0 4px;
  float: left;
  top: 2px;
}

/* line 27, ../../app/styles/navigation.scss */
.b-navigation__next:hover {
  background-position: 0 -18px;
}

/* line 32, ../../app/styles/navigation.scss */
.b-navigation__prev {
  height: 16px;
  width: 16px;
  background: url('../images/prew.png?1349446339') 0 -35px no-repeat;
  float: left;
}

/* line 40, ../../app/styles/navigation.scss */
.b-navigation__prev:hover {
  background-position: 0 -18px;
}

/* line 45, ../../app/styles/navigation.scss */
.b-navigation__first {
  height: 17px;
  width: 17px;
  background: url('../images/first.png?1349446340') 0 -35px no-repeat;
  margin: 0 8px 0 0;
  float: left;
  top: 2px;
}

/* line 55, ../../app/styles/navigation.scss */
.b-navigation__first:hover {
  background-position: 0 -18px;
}

/* line 60, ../../app/styles/navigation.scss */
.b-navigation__last {
  height: 16px;
  width: 16px;
  background: url('../images/last.png?1349446339') 0 -35px no-repeat;
  float: left;
}

/* line 68, ../../app/styles/navigation.scss */
.b-navigation__last:hover {
  background-position: 0 -18px;
}

/* line 73, ../../app/styles/navigation.scss */
.b-navigation__item {
  height: 27px;
  width: 24px;
  margin: 0 2px 0 1px;
  float: left;
  background: url('../images/number.png?1349446339');
}

/* line 82, ../../app/styles/navigation.scss */
.b-navigation__item:hover {
  background-position: 0 -27px;
}

/* line 87, ../../app/styles/navigation.scss */
.b-navigation__item_current {
  height: 27px;
  width: 24px;
  margin: 0 2px 0 1px;
  float: left;
  background: url('../images/number.png?1349446339') 0 -27px;
  cursor: default;
}

/* line 97, ../../app/styles/navigation.scss */
.b-navigation__space {
  height: 27px;
  width: 24px;
  margin: 0 2px 0 1px;
  float: left;
  background: url('../images/space.png?1349446340') 0 0px;
  cursor: default;
}

@charset "UTF-8";
@font-face {
  font-family: Gothic;
  font-weight: 400;
  font-style: normal;
  src: url("Century Gothic.eot");
  src: local("☺"), url("http://fontsforweb.com/public/fonts/1168/GOTHIC.ttf") format("truetype");
}

/* line 9, ../../app/styles/player.scss */
.b-player {
  height: 151px;
  background-image: url('../images/player_background.png?1349446339');
  -webkit-box-shadow: 0 8px 30px #222222;
  -moz-box-shadow: 0 8px 30px #222222;
  box-shadow: 0 8px 30px #222222;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 18, ../../app/styles/player.scss */
.b-player__control-buttons {
  float: left;
  margin-left: 70px;
  margin-top: 43px;
  width: 155px;
  height: 62px;
}

/* line 28, ../../app/styles/player.scss */
.b-player__state-buttons {
  width: 56px;
  float: left;
}

/* line 34, ../../app/styles/player.scss */
.b-player__play-button {
  width: 56px;
  height: 62px;
  cursor: pointer;
  background-image: url('../images/play_pre.png?1349446339');
}
/* line 15, ../../app/styles/_common.scss */
.b-player__play-button:hover {
  background-image: url('../images/play_over.png?1349446339');
}
/* line 21, ../../app/styles/_common.scss */
.b-player__play-button:active {
  background-image: url('../images/play_down.png?1349446339');
}

/* line 39, ../../app/styles/player.scss */
.b-player__pause-button {
  width: 46px;
  height: 62px;
  cursor: pointer;
  background-image: url('../images/pause_pre.png?1349446339');
  display: none;
}
/* line 15, ../../app/styles/_common.scss */
.b-player__pause-button:hover {
  background-image: url('../images/pause_over.png?1349446339');
}
/* line 21, ../../app/styles/_common.scss */
.b-player__pause-button:active {
  background-image: url('../images/pause_down.png?1349446339');
}

/* line 45, ../../app/styles/player.scss */
.b-player__prev-button {
  width: 34px;
  height: 29px;
  cursor: pointer;
  background-image: url('../images/prev_pre.png?1349446339');
  margin-left: 23px;
  margin-top: 15px;
  float: left;
}
/* line 15, ../../app/styles/_common.scss */
.b-player__prev-button:hover {
  background-image: url('../images/prev_over.png?1349446339');
}
/* line 21, ../../app/styles/_common.scss */
.b-player__prev-button:active {
  background-image: url('../images/prev_down.png?1349446339');
}

/* line 53, ../../app/styles/player.scss */
.b-player__next-button {
  width: 34px;
  height: 29px;
  cursor: pointer;
  background-image: url('../images/next_pre.png?1349446340');
  margin-left: 4px;
  margin-top: 15px;
  float: left;
}
/* line 15, ../../app/styles/_common.scss */
.b-player__next-button:hover {
  background-image: url('../images/next_over.png?1349446339');
}
/* line 21, ../../app/styles/_common.scss */
.b-player__next-button:active {
  background-image: url('../images/next_down.png?1349446339');
}

/* line 61, ../../app/styles/player.scss */
.b-player__content {
  width: 342px;
  margin-left: 10px;
  float: left;
}

/* line 68, ../../app/styles/player.scss */
.b-player__marquee-place {
  margin-top: 30px;
  height: 20px;
  width: 342px;
}

/* line 75, ../../app/styles/player.scss */
.b-player__progress {
  cursor: pointer;
  height: 8px;
  margin-top: 20px;
  background-color: #38393d;
  width: 342px;
  position: relative;
}

/* line 85, ../../app/styles/player.scss */
.b-player__load-bar {
  height: 7px;
  position: absolute;
  background: url('../images/load_pattern.png?1349446339') repeat-x;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: visible;
}

/* line 95, ../../app/styles/player.scss */
.b-player__progress-bar {
  height: 7px;
  position: absolute;
  background: url('../images/play_pattern.png?1349446339') repeat-x;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 103, ../../app/styles/player.scss */
.b-player__progress-pick {
  top: -9px;
  position: absolute;
  right: -4px;
  width: 8px;
  height: 24px;
  cursor: pointer;
  background-image: url('../images/pick_pre.png?1349446339');
  z-index: 1001;
}
/* line 15, ../../app/styles/_common.scss */
.b-player__progress-pick:hover {
  background-image: url('../images/pick_on.png?1349446339');
}

/* line 113, ../../app/styles/player.scss */
.b-player__progress-mask {
  position: absolute;
  top: -1px;
  width: 342px;
  height: 11px;
  background: url('../images/progress_mask.png?1349446340');
  z-index: 1000;
}

/* line 125, ../../app/styles/player.scss */
.b-player__under {
  margin-top: 20px;
  height: 50px;
}

/* line 131, ../../app/styles/player.scss */
.b-player__status-button {
  float: left;
  width: 116px;
  height: 17px;
}

/* line 138, ../../app/styles/player.scss */
.b-player__add-button {
  width: 116px;
  height: 17px;
  cursor: pointer;
  background-image: url('../images/add_pre.png?1349446339');
  display: none;
}
/* line 15, ../../app/styles/_common.scss */
.b-player__add-button:hover {
  background-image: url('../images/add_over.png?1349446339');
}
/* line 21, ../../app/styles/_common.scss */
.b-player__add-button:active {
  background-image: url('../images/add_down.png?1349446339');
}

/* line 144, ../../app/styles/player.scss */
.b-player__volume-controls {
  margin-left: 180px;
  margin-top: 5px;
}

/* line 150, ../../app/styles/player.scss */
.b-player__mute-controls {
  width: 23px;
  height: 18px;
  float: left;
}

/* line 157, ../../app/styles/player.scss */
.b-player__mute-button {
  width: 23px;
  height: 18px;
  cursor: pointer;
  background-image: url('../images/vol_b_pre.png?1349446340');
}
/* line 15, ../../app/styles/_common.scss */
.b-player__mute-button:hover {
  background-image: url('../images/vol_b_over.png?1349446339');
}
/* line 21, ../../app/styles/_common.scss */
.b-player__mute-button:active {
  background-image: url('../images/vol_b_down.png?1349446339');
}

/* line 162, ../../app/styles/player.scss */
.b-player__unmute-button {
  width: 23px;
  height: 18px;
  cursor: pointer;
  background-image: url('../images/mute_b_pre.png?1349446339');
  display: none;
}
/* line 15, ../../app/styles/_common.scss */
.b-player__unmute-button:hover {
  background-image: url('../images/mute_b_over.png?1349446339');
}
/* line 21, ../../app/styles/_common.scss */
.b-player__unmute-button:active {
  background-image: url('../images/mute_b_down.png?1349446339');
}

/* line 168, ../../app/styles/player.scss */
.b-player__volume {
  position: relative;
  width: 132px;
  height: 9px;
  background-color: #38393d;
  cursor: pointer;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}

/* line 181, ../../app/styles/player.scss */
.b-player__volume-bar {
  position: relative;
  height: 9px;
  background: url('../images/volume_pattern.png?1349446339') repeat-x;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 190, ../../app/styles/player.scss */
.b-player__volume-pick {
  top: -9px;
  position: absolute;
  right: -4px;
  z-index: 1000;
  width: 8px;
  height: 24px;
  cursor: pointer;
  background-image: url('../images/pick_pre.png?1349446339');
}
/* line 15, ../../app/styles/_common.scss */
.b-player__volume-pick:hover {
  background-image: url('../images/pick_on.png?1349446339');
}

/* line 199, ../../app/styles/player.scss */
.b-player__volume-mask {
  top: -1px;
  position: absolute;
  width: 132px;
  height: 9px;
  background-image: url('../images/volume_mask.png?1349446340');
}

/* line 209, ../../app/styles/player.scss */
.b-player__cover-place {
  padding-left: 26px;
  padding-top: 9px;
  height: 142px;
  width: 149px;
  background-image: url('../images/album.png?1349446340');
  float: right;
  margin-right: 48px;
}

/* line 222, ../../app/styles/player.scss */
.b-player__cover-image {
  height: 126px;
  width: 126px;
}

/* line 1, ../../app/styles/app.scss */
body {
  background-image: url('../images/patterns/patt2.png?1349446339');
  margin: 0;
}

/* line 6, ../../app/styles/app.scss */
.b-list {
  width: 827px;
  margin-top: 70px;
  height: 2000px;
  overflow: auto;
}

@charset "UTF-8";
@font-face {
  font-family: Gothic;
  font-weight: 400;
  font-style: normal;
  src: url("Century Gothic.eot");
  src: local("☺"), url("http://fontsforweb.com/public/fonts/1168/GOTHIC.ttf") format("truetype");
}

/* line 5, ../../app/styles/marquee.scss */
.b-marquee {
  height: 20px;
  width: 342px;
  overflow: hidden;
  position: absolute;
}

/* line 12, ../../app/styles/marquee.scss */
.j-marquee-text {
  font-family: Gothic, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  color: #cdcdcd;
  text-shadow: 1px 1px 2px black;
}

@charset "UTF-8";
@font-face {
  font-family: Gothic;
  font-weight: 400;
  font-style: normal;
  src: url("Century Gothic.eot");
  src: local("☺"), url("http://fontsforweb.com/public/fonts/1168/GOTHIC.ttf") format("truetype");
}

/* line 8, ../../app/styles/item.scss */
.b-item {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 3px 0 #aaaaaa;
  -moz-box-shadow: 0 5px 3px 0 #aaaaaa;
  box-shadow: 0 5px 3px 0 #aaaaaa;
  border: 1px solid black;
  background-image: url('../images/patterns/patt1.png?1349446339');
  margin: 35px 70px;
  padding: 0 1px;
}

/* line 20, ../../app/styles/item.scss */
.b-item_selected {
  background-image: url('../images/patterns/patt4.png?1349446339');
}

/* line 25, ../../app/styles/item.scss */
.b-item__header {
  height: 120px;
  border-bottom: 1px solid black;
  position: relative;
}

/* line 32, ../../app/styles/item.scss */
.b-item__album-cover {
  width: 126px;
  height: 126px;
  outline: 1px solid #bebebe;
  background-color: #dfdfdf;
  position: relative;
  top: 20px;
  left: 20px;
  z-index: 100;
  cursor: pointer;
}

/* line 45, ../../app/styles/item.scss */
.b-item__cover-image {
  width: 126px;
  height: 126px;
  position: relative;
  z-index: 1000;
}

/* line 54, ../../app/styles/item.scss */
.b-item__cover-shadow {
  position: absolute;
  top: 116px;
  height: 10px;
  width: 126px;
  -webkit-box-shadow: 0 0 30px 0 black, 0 0 30px 0 black, 0 0 30px 0 black;
  -moz-box-shadow: 0 0 30px 0 black, 0 0 30px 0 black, 0 0 30px 0 black;
  box-shadow: 0 0 30px 0 black, 0 0 30px 0 black, 0 0 30px 0 black;
}

/* line 65, ../../app/styles/item.scss */
.b-item__content {
  position: absolute;
  left: 180px;
  top: 30px;
  height: 70px;
  width: 470px;
}

/* line 75, ../../app/styles/item.scss */
.b-item__track-title {
  font-family: Gothic, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  color: #cdcdcd;
  text-shadow: 1px 1px 2px black;
  height: 22px;
  overflow: hidden;
}

/* line 84, ../../app/styles/item.scss */
.b-item__artist-name {
  font-weight: bold;
}

/* line 94, ../../app/styles/item.scss */
.b-item__state-buttons {
  height: 40px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

/* line 102, ../../app/styles/item.scss */
.b-item__play-button {
  width: 93px;
  height: 32px;
  cursor: pointer;
  background-image: url('../images/good/item_play_button.png?1349446339');
}
/* line 15, ../../app/styles/_common.scss */
.b-item__play-button:hover {
  background-image: url('../images/good/item_play_button_over.png?1349446339');
}

/* line 111, ../../app/styles/item.scss */
.b-item__pause-button {
  display: none;
  width: 93px;
  height: 32px;
  cursor: pointer;
  background-image: url('../images/good/item_pause_button.png?1349446339');
}
/* line 15, ../../app/styles/_common.scss */
.b-item__pause-button:hover {
  background-image: url('../images/good/item_pause_button_over.png?1349446339');
}

/* line 126, ../../app/styles/item.scss */
.b-item__control-buttons {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 90px;
}

/* line 134, ../../app/styles/item.scss */
.b-item__wiki-button {
  float: left;
  display: none;
  width: 13px;
  height: 13px;
  cursor: pointer;
  background-image: url('../images/good/wiki_icon.png?1349446339');
}
/* line 15, ../../app/styles/_common.scss */
.b-item__wiki-button:hover {
  background-image: url('../images/good/wiki_icon_over.png?1349446339');
}

/* line 142, ../../app/styles/item.scss */
.b-item__like-button {
  float: left;
  margin-left: 7px;
  width: 13px;
  height: 13px;
  cursor: pointer;
  background-image: url('../images/good/like_icon.png?1349446339');
}
/* line 15, ../../app/styles/_common.scss */
.b-item__like-button:hover {
  background-image: url('../images/good/like_icon_over.png?1349446339');
}

/* line 150, ../../app/styles/item.scss */
.b-item__delete-button {
  float: left;
  margin-left: 14px;
  display: none;
  width: 13px;
  height: 13px;
  cursor: pointer;
  background-image: url('../images/good/delete_icon.png?1349446339');
}
/* line 15, ../../app/styles/_common.scss */
.b-item__delete-button:hover {
  background-image: url('../images/good/delete_icon_over.png?1349446339');
}

@charset "UTF-8";
@font-face {
  font-family: Gothic;
  font-weight: 400;
  font-style: normal;
  src: url("Century Gothic.eot");
  src: local("☺"), url("http://fontsforweb.com/public/fonts/1168/GOTHIC.ttf") format("truetype");
}

/* line 12, ../../app/styles/similars.scss */
.b-similars__phrase-place {
  height: 40px;
  background-color: #dfdfdf;
  border: 1px solid whitesmoke;
  border-bottom: 1px solid #bebebe;
  padding-left: 180px;
}

/* line 21, ../../app/styles/similars.scss */
.b-similars__phrase {
  margin-top: 10px;
  display: block;
  font-family: Gothic, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  color: #212121;
}

/* line 29, ../../app/styles/similars.scss */
.b-similars__similars-container {
  -webkit-columns: 2;
  -moz-columns: 2;
  -ms-columns: 2;
  -o-columns: 2;
  columns: 2;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  -ms-column-gap: 0;
  -o-column-gap: 0;
  column-gap: 0;
  background-color: #dfdfdf;
  border: 1px solid whitesmoke;
  display: none;
}

@charset "UTF-8";
@font-face {
  font-family: Gothic;
  font-weight: 400;
  font-style: normal;
  src: url("Century Gothic.eot");
  src: local("☺"), url("http://fontsforweb.com/public/fonts/1168/GOTHIC.ttf") format("truetype");
}

/* line 4, ../../app/styles/info.scss */
.b-item-info {
  font-family: Gothic, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  color: #cdcdcd;
  text-shadow: 1px 1px 2px black;
  position: absolute;
  left: 157px;
  overflow: hidden;
}

/* line 12, ../../app/styles/info.scss */
.b-item-info__album {
  height: 22px;
  display: block;
  overflow: hidden;
}

/* line 19, ../../app/styles/info.scss */
.b-item-info__album-title {
  font-weight: bold;
}

/* line 24, ../../app/styles/info.scss */
.b-item-info__tags {
  height: 22px;
  display: block;
  overflow: hidden;
}

/* line 31, ../../app/styles/info.scss */
.b-item-info__tags-title {
  font-weight: bold;
}

@charset "UTF-8";
@font-face {
  font-family: Gothic;
  font-weight: 400;
  font-style: normal;
  src: url("Century Gothic.eot");
  src: local("☺"), url("http://fontsforweb.com/public/fonts/1168/GOTHIC.ttf") format("truetype");
}

/* line 5, ../../app/styles/more.scss */
.b-more-button {
  margin: 5px auto;
  width: 140px;
  height: 20px;
}

/* line 11, ../../app/styles/more.scss */
.b-more-button__show-more-button {
  cursor: pointer;
}

/* line 15, ../../app/styles/more.scss */
.b-more-button__show-more-text {
  font-family: Gothic, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  color: #cdcdcd;
  text-shadow: 1px 1px 2px black;
  display: block;
  float: left;
}

/* line 22, ../../app/styles/more.scss */
.b-more-button__show-more-icon {
  float: left;
  margin-left: 10px;
  margin-top: 3px;
  width: 16px;
  height: 16px;
  background-image: url('../images/good/show_more_icon.png?1349446339');
}

/* line 34, ../../app/styles/more.scss */
.b-more-button__show-loader {
  margin-left: 35px;
  font-family: Gothic, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  color: #cdcdcd;
  text-shadow: 1px 1px 2px black;
}

html,
body {
  min-height: 100%;
}
.humane,
.humane-original {
  position: fixed;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 100000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.humane,
.humane-original {
  font-family: Ubuntu, Verdana, sans-serif;
  line-height: 40px;
  font-size: 25px;
  top: 25%;
  left: 25%;
  opacity: 0;
  width: 50%;
  min-height: 40px;
  padding: 10px;
  text-align: center;
  background-color: #000;
  color: #fff;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.humane p,
.humane-original p,
.humane ul,
.humane-original ul {
  margin: 0;
  padding: 0;
}
.humane ul,
.humane-original ul {
  list-style: none;
}
.humane.humane-original-info,
.humane-original.humane-original-info {
  background-color: #030;
}
.humane.humane-original-success,
.humane-original.humane-original-success {
  background-color: #030;
}
.humane.humane-original-error,
.humane-original.humane-original-error {
  background-color: #300;
}
.humane.humane-animate,
.humane-original.humane-original-animate {
  opacity: 0.8;
}
.humane.humane-animate:hover,
.humane-original.humane-original-animate:hover {
  opacity: 0.6;
}
.humane.humane-js-animate,
.humane-original.humane-original-js-animate {
  opacity: 0.8;
}
.humane.humane-js-animate:hover,
.humane-original.humane-original-js-animate:hover {
  opacity: 0.6;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
}

@charset "UTF-8";
@font-face {
  font-family: Gothic;
  font-weight: 400;
  font-style: normal;
  src: url("Century Gothic.eot");
  src: local("☺"), url("http://fontsforweb.com/public/fonts/1168/GOTHIC.ttf") format("truetype");
}

/* line 8, ../../app/styles/similar.scss */
.b-similar {
  margin-top: 1px;
  margin-left: 1px;
  height: 64px;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 7px;
  outline: 1px solid whitesmoke;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfdfdf), color-stop(100%, #bebebe));
  background-image: -webkit-linear-gradient(top, #dfdfdf, #bebebe);
  background-image: -moz-linear-gradient(top, #dfdfdf, #bebebe);
  background-image: -o-linear-gradient(top, #dfdfdf, #bebebe);
  background-image: linear-gradient(top, #dfdfdf, #bebebe);
}

/* line 26, ../../app/styles/similar.scss */
.b-similar_selected {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bebebe), color-stop(100%, #dfdfdf));
  background-image: -webkit-linear-gradient(top, #bebebe, #dfdfdf);
  background-image: -moz-linear-gradient(top, #bebebe, #dfdfdf);
  background-image: -o-linear-gradient(top, #bebebe, #dfdfdf);
  background-image: linear-gradient(top, #bebebe, #dfdfdf);
}

/* line 32, ../../app/styles/similar.scss */
.b-similar__album-cover {
  outline: 1px solid whitesmoke;
  width: 64px;
  height: 64px;
  float: left;
  cursor: pointer;
}

/* line 41, ../../app/styles/similar.scss */
.b-similar__cover-image {
  width: 64px;
  height: 64px;
}

/* line 47, ../../app/styles/similar.scss */
.b-similar__content {
  margin-left: 15px;
  float: left;
}

/* line 53, ../../app/styles/similar.scss */
.b-similar__track-title {
  font-family: Gothic, sans-serif;
  font-size: 10pt;
  font-weight: normal;
  color: #212121;
  width: 210px;
  cursor: pointer;
}

/* line 60, ../../app/styles/similar.scss */
.b-similar__artist-name {
  font-weight: bold;
  height: 17px;
  display: block;
  overflow: hidden;
}

/* line 69, ../../app/styles/similar.scss */
.b-similar__track-name {
  height: 17px;
  display: block;
  overflow: hidden;
}

/* line 76, ../../app/styles/similar.scss */
.b-similar__buttons {
  margin-top: 7px;
  cursor: pointer;
}

/* line 82, ../../app/styles/similar.scss */
.b-similar__play-button {
  float: left;
  width: 13px;
  height: 13px;
  cursor: pointer;
  background-image: url('../images/good/play_icon.png?1349446339');
}
/* line 15, ../../app/styles/_common.scss */
.b-similar__play-button:hover {
  background-image: url('../images/good/play_icon_over.png?1349446339');
}

/* line 89, ../../app/styles/similar.scss */
.b-similar__pause-button {
  display: none;
  float: left;
  width: 13px;
  height: 13px;
  cursor: pointer;
  background-image: url('../images/good/pause_icon.png?1349446339');
}
/* line 15, ../../app/styles/_common.scss */
.b-similar__pause-button:hover {
  background-image: url('../images/good/pause_icon_over.png?1349446339');
}

/* line 97, ../../app/styles/similar.scss */
.b-similar__add-button {
  float: left;
  margin-left: 7px;
  width: 13px;
  height: 13px;
  cursor: pointer;
  background-image: url('../images/good/add_icon.png?1349446339');
}
/* line 15, ../../app/styles/_common.scss */
.b-similar__add-button:hover {
  background-image: url('../images/good/add_icon_over.png?1349446339');
}

/* line 105, ../../app/styles/similar.scss */
.b-similar__like-button {
  float: left;
  margin-left: 7px;
  width: 13px;
  height: 13px;
  cursor: pointer;
  background-image: url('../images/good/like_icon.png?1349446339');
}
/* line 15, ../../app/styles/_common.scss */
.b-similar__like-button:hover {
  background-image: url('../images/good/like_icon_over.png?1349446339');
}

/* line 113, ../../app/styles/similar.scss */
.b-similar__wiki-button {
  float: left;
  margin-left: 7px;
  display: none;
  width: 13px;
  height: 13px;
  cursor: pointer;
  background-image: url('../images/good/wiki_icon.png?1349446339');
}
/* line 15, ../../app/styles/_common.scss */
.b-similar__wiki-button:hover {
  background-image: url('../images/good/wiki_icon_over.png?1349446339');
}
