/* line 5, ../../app/styles/app.scss */
body {
  background-image: url('../images/patterns/patt2.png?1349458814');
  margin: 0;
}

/* line 15, ../../app/styles/app.scss */
.b-app__slider {
  width: 100%;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-shadow: 0 8px 30px #222222;
  -moz-box-shadow: 0 8px 30px #222222;
  box-shadow: 0 8px 30px #222222;
  height: 200px;
  position: absolute;
  z-index: 500;
  background-image: url('../images/patterns/patt2.png?1349458814');
}

/* line 27, ../../app/styles/app.scss */
.b-app__player-place {
  height: 151px;
}

/* line 32, ../../app/styles/app.scss */
.b-app__navigation-place {
  height: 20px;
  margin-top: 15px;
}

/* line 38, ../../app/styles/app.scss */
.b-app__list-place {
  margin-top: 200px;
}

/* line 44, ../../app/styles/app.scss */
.b-list {
  width: 827px;
  margin-top: 70px;
  height: 2000px;
  overflow: auto;
}
