/* line 7, ../../app/styles/app.scss */
body {
  background-image: url('../images/patterns/patt2.png?1349983454');
  margin: 0;
}

/* line 18, ../../app/styles/app.scss */
.b-app__slider {
  width: 100%;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-box-shadow: 0 8px 30px #222222;
  -moz-box-shadow: 0 8px 30px #222222;
  box-shadow: 0 8px 30px #222222;
  height: 200px;
  position: absolute;
  z-index: 500;
  background-color: #dfdfdf;
  border-bottom: 1px solid #bebebe;
}

/* line 32, ../../app/styles/app.scss */
.b-app__player-place {
  height: 151px;
}

/* line 37, ../../app/styles/app.scss */
.b-app__navigation-place {
  height: 20px;
  margin-top: 15px;
}

/* line 43, ../../app/styles/app.scss */
.b-app__list-place {
  margin-top: 200px;
}

/* line 49, ../../app/styles/app.scss */
.b-list {
  width: 827px;
  margin-top: 70px;
  overflow: auto;
}
