/* line 1, ../../app/styles/info.scss */
.b-item-info {
  position: absolute;
  left: 150px;
  width: 300px;
  cursor: pointer;
}
/* line 8, ../../app/styles/info.scss */
.b-item-info .b-item-info__album {
  height: 20px;
  display: block;
  overflow: hidden;
  color: #cccccc;
  text-shadow: 1px 1px 2px #000000;
}
/* line 17, ../../app/styles/info.scss */
.b-item-info .b-item-info__album-title {
  font: 12pt Century Gothic;
  font-weight: 800;
}
/* line 23, ../../app/styles/info.scss */
.b-item-info .b-item-info__tags {
  height: 20px;
  display: block;
  overflow: hidden;
  color: #cccccc;
  text-shadow: 1px 1px 2px #000000;
}
/* line 32, ../../app/styles/info.scss */
.b-item-info .b-item-info__tags-title {
  font: 12pt Century Gothic;
  font-weight: 800;
}
