@font-face {
  font-family: "Gothic";
  src: url('fonts/fonts/Century Gothic.eot');
  src: url('fonts/fonts/Century Gothic.eot?#iefix') format('eot'), url('fonts/fonts/Gothic.ttf') format('truetype');
}

/* line 4, ../../app/styles/info.scss */
.b-item-info {
  font-family: Gothic, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  color: #cdcdcd;
  text-shadow: 1px 1px 2px black;
  position: absolute;
  left: 157px;
  overflow: hidden;
}

/* line 12, ../../app/styles/info.scss */
.b-item-info__album {
  height: 22px;
  display: block;
  overflow: hidden;
}

/* line 19, ../../app/styles/info.scss */
.b-item-info__album-title {
  font-weight: bold;
}

/* line 24, ../../app/styles/info.scss */
.b-item-info__tags {
  height: 22px;
  display: block;
  overflow: hidden;
}

/* line 31, ../../app/styles/info.scss */
.b-item-info__tags-title {
  font-weight: bold;
}
