@charset "UTF-8";
@font-face {
  font-family: Gothic;
  font-weight: 400;
  font-style: normal;
  src: url("Century Gothic.eot");
  src: local("☺"), url("http://fontsforweb.com/public/fonts/1168/GOTHIC.ttf") format("truetype");
}

/* line 8, ../../app/styles/item.scss */
.b-item {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 3px 0 #aaaaaa;
  -moz-box-shadow: 0 5px 3px 0 #aaaaaa;
  box-shadow: 0 5px 3px 0 #aaaaaa;
  border: 1px solid black;
  background-image: url('../images/patterns/patt1.png?1348910323');
  margin: 35px 70px;
  padding: 0 1px;
}

/* line 20, ../../app/styles/item.scss */
.b-item_selected {
  background-image: url('../images/patterns/patt4.png?1348910323');
}

/* line 25, ../../app/styles/item.scss */
.b-item__header {
  height: 120px;
  border-bottom: 1px solid black;
  position: relative;
}

/* line 32, ../../app/styles/item.scss */
.b-item__album-cover {
  width: 126px;
  height: 126px;
  outline: 1px solid #bebebe;
  background-color: #dfdfdf;
  position: relative;
  top: 20px;
  left: 20px;
  z-index: 100;
  cursor: pointer;
}

/* line 45, ../../app/styles/item.scss */
.b-item__cover-image {
  width: 126px;
  height: 126px;
  position: relative;
  z-index: 1000;
}

/* line 54, ../../app/styles/item.scss */
.b-item__cover-shadow {
  position: absolute;
  top: 116px;
  height: 10px;
  width: 126px;
  -webkit-box-shadow: 0 0 30px 0 black, 0 0 30px 0 black, 0 0 30px 0 black;
  -moz-box-shadow: 0 0 30px 0 black, 0 0 30px 0 black, 0 0 30px 0 black;
  box-shadow: 0 0 30px 0 black, 0 0 30px 0 black, 0 0 30px 0 black;
}

/* line 65, ../../app/styles/item.scss */
.b-item__content {
  position: absolute;
  left: 180px;
  top: 30px;
  height: 70px;
  width: 470px;
}

/* line 75, ../../app/styles/item.scss */
.b-item__track-title {
  font-family: Gothic, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  color: #cdcdcd;
  text-shadow: 1px 1px 2px black;
  height: 22px;
  overflow: hidden;
}

/* line 84, ../../app/styles/item.scss */
.b-item__artist-name {
  font-weight: bold;
}

/* line 94, ../../app/styles/item.scss */
.b-item__state-buttons {
  height: 40px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

/* line 102, ../../app/styles/item.scss */
.b-item__play-button {
  width: 93px;
  height: 32px;
  background-image: url('../images/good/item_play_button.png?1348910323');
}
/* line 10, ../../app/styles/_common.scss */
.b-item__play-button:hover {
  background-image: url('../images/good/item_play_button_over.png?1348910323');
}

/* line 111, ../../app/styles/item.scss */
.b-item__pause-button {
  display: none;
  width: 93px;
  height: 32px;
  background-image: url('../images/good/item_pause_button.png?1348910323');
}
/* line 10, ../../app/styles/_common.scss */
.b-item__pause-button:hover {
  background-image: url('../images/good/item_pause_button_over.png?1348910323');
}

/* line 126, ../../app/styles/item.scss */
.b-item__control-buttons {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 90px;
}

/* line 134, ../../app/styles/item.scss */
.b-item__wiki-button {
  float: left;
  display: none;
  width: 13px;
  height: 13px;
  background-image: url('../images/good/wiki_icon.png?1348910323');
}
/* line 10, ../../app/styles/_common.scss */
.b-item__wiki-button:hover {
  background-image: url('../images/good/wiki_icon_over.png?1348910323');
}

/* line 142, ../../app/styles/item.scss */
.b-item__like-button {
  float: left;
  margin-left: 7px;
  width: 13px;
  height: 13px;
  background-image: url('../images/good/like_icon.png?1348910323');
}
/* line 10, ../../app/styles/_common.scss */
.b-item__like-button:hover {
  background-image: url('../images/good/like_icon_over.png?1348910323');
}

/* line 150, ../../app/styles/item.scss */
.b-item__delete-button {
  float: left;
  margin-left: 14px;
  display: none;
  width: 13px;
  height: 13px;
  background-image: url('../images/good/delete_icon.png?1348910323');
}
/* line 10, ../../app/styles/_common.scss */
.b-item__delete-button:hover {
  background-image: url('../images/good/delete_icon_over.png?1348910323');
}
