@charset "UTF-8";
/* Контейнер для списка */
/* line 2, ../../app/styles/list.scss */
.ListCont {
  width: 807px;
  margin-top: 70px;
  height: 2000px;
  overflow: auto;
}

/* line 9, ../../app/styles/list.scss */
.item.selected {
  background-image: url("../images/1/patt4.png");
}

/* line 13, ../../app/styles/list.scss */
.item {
  border: 1px solid black;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 5px 3px 0 #aaaaaa;
  -webkit-box-shadow: 0 5px 3px 0 #aaaaaa;
  box-shadow: 0 5px 3px 0 #aaaaaa;
  background-image: url("../images/patt1.png");
  margin: 35px 68px;
  margin-right: 58px;
}

/* line 28, ../../app/styles/list.scss */
.ItemHeader {
  height: 120px;
  border-bottom: 1px solid black;
  position: relative;
}

/* line 34, ../../app/styles/list.scss */
.BigImg {
  width: 126px;
  height: 126px;
  outline: 1px solid #b9b9b9;
  background-color: #dfdfdf;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
  cursor: pointer;
}

/* line 46, ../../app/styles/list.scss */
.BigImgShadow {
  position: absolute;
  top: 125px;
  left: 20px;
  height: 10px;
  width: 126px;
  -moz-box-shadow: 0 0 30px 0 #000, 0 0 30px 0 #000, 0 0 30px 0 #000;
  -webkit-box-shadow: 0 0 30px 0 #000, 0 0 30px 0 #000, 0 0 30px 0 #000;
  box-shadow: 0 0 30px 0 #000, 0 0 30px 0 #000, 0 0 30px 0 #000;
}

/* line 58, ../../app/styles/list.scss */
.ItemInfoCont {
  position: absolute;
  left: 180px;
  top: 30px;
  height: 70px;
  width: 520px;
}

/* line 66, ../../app/styles/list.scss */
.ItemTitle {
  display: block;
  overflow: hidden;
  font: 12pt Century Gothic;
  color: #cccccc;
  text-shadow: 1px 1px 2px #000000;
  width: 470px;
  height: 20px;
}

/* line 76, ../../app/styles/list.scss */
.ItemArtist {
  font: 12pt Century Gothic;
  font-weight: 800;
}

/* line 81, ../../app/styles/list.scss */
.ItemButtoms {
  height: 40px;
  position: absolute;
  bottom: 0;
}

/* line 87, ../../app/styles/list.scss */
.ItemPlayB {
  background-image: url("../images/track_play_pre.png");
  height: 28px;
  width: 91px;
  float: left;
  cursor: pointer;
}

/* line 96, ../../app/styles/list.scss */
.ItemAlbumCont {
  position: absolute;
  left: 150px;
  width: 300px;
  cursor: pointer;
}

/* line 104, ../../app/styles/list.scss */
.ItemAlbum, .ItemTags {
  height: 20px;
  display: block;
  overflow: hidden;
  color: #cccccc;
  text-shadow: 1px 1px 2px #000000;
}

/* line 112, ../../app/styles/list.scss */
.ItemAlbumTitle, .ItemTagsTitle {
  font: 12pt Century Gothic;
  font-weight: 800;
}

/* line 117, ../../app/styles/list.scss */
.ItemButtonsCont {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 90px;
}

/* line 129, ../../app/styles/list.scss */
.ItemDelim {
  height: 40px;
  background-color: #dfdfdf;
  border: 1px solid #F5F5F5;
  border-bottom: 1px solid #b9b9b9;
  padding-left: 180px;
}

/* line 137, ../../app/styles/list.scss */
.ItemDelimPhrase {
  margin-top: 10px;
  display: block;
  font: 14pt Century Gothic;
  color: #212121;
}

/* line 144, ../../app/styles/list.scss */
.ItemSimCont {
  background-color: #dfdfdf;
  overflow-x: hidden;
  border: 1px solid #F5F5F5;
}

/* line 150, ../../app/styles/list.scss */
.SimLeftCol, .SimRightCol {
  outline: 1px solid #F5F5F5;
  width: 50%;
  float: left;
}

/* line 156, ../../app/styles/list.scss */
.SimItem.selected {
  background-image: linear-gradient(bottom, #b8b8b8 100%, #f0f0f0 65%);
  background-image: -o-linear-gradient(bottom, #b8b8b8 100%, #f0f0f0 65%);
  background-image: -moz-linear-gradient(bottom, #b8b8b8 100%, #f0f0f0 65%);
  background-image: -webkit-linear-gradient(bottom, #b8b8b8 100%, #f0f0f0 65%);
  background-image: -ms-linear-gradient(bottom, #b8b8b8 100%, #f0f0f0 65%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1, #b8b8b8), color-stop(0.65, #f0f0f0));
}

/* line 172, ../../app/styles/list.scss */
.SimItem {
  height: 72px;
  padding-left: 20px;
  padding-top: 8px;
  outline: 1px solid #F5F5F5;
  background-image: linear-gradient(bottom, #bab9b9 0%, #dfdfdf 50%);
  background-image: -o-linear-gradient(bottom, #bab9b9 0%, #dfdfdf 50%);
  background-image: -moz-linear-gradient(bottom, #bab9b9 0%, #dfdfdf 50%);
  background-image: -webkit-linear-gradient(bottom, #bab9b9 0%, #dfdfdf 50%);
  background-image: -ms-linear-gradient(bottom, #bab9b9 0%, #dfdfdf 50%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #bab9b9), color-stop(0.5, #dfdfdf));
}

/* line 194, ../../app/styles/list.scss */
.SmallImg {
  outline: 1px solid #F5F5F5;
  width: 64px;
  height: 64px;
  float: left;
  cursor: pointer;
}

/* line 202, ../../app/styles/list.scss */
.SimInfoCont {
  margin-left: 15px;
  float: left;
}

/* line 207, ../../app/styles/list.scss */
.SimTitle {
  width: 220px;
  height: 30px;
}

/* line 212, ../../app/styles/list.scss */
.SimArtist {
  height: 15px;
  display: block;
  font: 12pt Century Gothic;
  font-weight: 800;
  color: #212121;
  overflow: hidden;
}

/* line 221, ../../app/styles/list.scss */
.SimName {
  height: 15px;
  display: block;
  color: #212121;
}

/* line 227, ../../app/styles/list.scss */
.SimButtonsCont {
  margin-top: 10px;
  cursor: pointer;
}

/* line 232, ../../app/styles/list.scss */
.ItemFooter {
  height: 30px;
  padding-left: 310px;
}
