@font-face {
  font-family: "Gothic";
  src: url('fonts/fonts/Century Gothic.eot');
  src: url('fonts/fonts/Century Gothic.eot?#iefix') format('eot'), url('fonts/fonts/Gothic.ttf') format('truetype');
}

/* line 5, ../../app/styles/marquee.scss */
.b-marquee {
  height: 20px;
  width: 342px;
  overflow: hidden;
  position: absolute;
}

/* line 12, ../../app/styles/marquee.scss */
.j-marquee-text {
  font-family: Gothic, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  color: #cdcdcd;
  text-shadow: 1px 1px 2px black;
}
