@font-face {
  font-family: "Gothic";
  src: url('fonts/fonts/Century Gothic.eot');
  src: url('fonts/fonts/Century Gothic.eot?#iefix') format('eot'), url('fonts/fonts/Gothic.ttf') format('truetype');
}

/* line 242, player/*.png */
.player-sprite {
  background: url('../images/player-sdbe12c62c6.png') no-repeat;
}

/* line 66, item/*.png */
.item-sprite {
  background: url('../images/item-s5201a6477f.png') no-repeat;
}

/* line 138, icons/*.png */
.icons-sprite, .b-more-button__show-more-icon {
  background: url('../images/icons-s25753a842f.png') no-repeat;
}

/* line 122, navigation/*.png */
.navigation-sprite {
  background: url('../images/navigation-sd19e8ff86c.png') no-repeat;
}

/* line 6, ../../app/styles/more.scss */
.b-more-button {
  margin: 5px auto;
  width: 200px;
  height: 20px;
}

/* line 12, ../../app/styles/more.scss */
.b-more-button__show-more-button {
  margin-left: 35px;
  cursor: pointer;
}

/* line 17, ../../app/styles/more.scss */
.b-more-button__show-more-text {
  font-family: Gothic, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  color: #cdcdcd;
  text-shadow: 1px 1px 2px black;
  display: block;
  float: left;
}

/* line 23, ../../app/styles/more.scss */
.b-more-button__show-more-icon {
  background-position: 0 -168px;
  height: 16px;
  width: 16px;
  float: left;
  margin-left: 10px;
  margin-top: 3px;
  width: 16px;
  height: 16px;
}

/* line 34, ../../app/styles/more.scss */
.b-more-button__show-loader {
  font-family: Gothic, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  color: #cdcdcd;
  text-shadow: 1px 1px 2px black;
  margin-left: 60px;
}
