/* line 2, ../../app/styles/navigation.scss */
.Navigation {
  height: 27px;
  margin-left: 68px;
  margin-top: -30px;
  position: absolute;
  font: 11pt Century Gothic;
  color: #cccccc;
  text-shadow: 1px 1px 2px #000000;
  font-weight: 800;
  text-align: center;
}

/* line 14, ../../app/styles/navigation.scss */
.NavNext {
  height: 17px;
  width: 17px;
  background: url(../images/next.png) 0 -35px no-repeat;
  margin: 0 4px 0 4px;
  float: left;
  top: 2px;
  cursor: pointer;
}

/* line 23, ../../app/styles/navigation.scss */
.NavNext:hover {
  background-position: 0 -18px;
}

/* line 27, ../../app/styles/navigation.scss */
.NavPrev {
  height: 16px;
  width: 16px;
  background: url(../images/prew.png) 0 -35px no-repeat;
  float: left;
  cursor: pointer;
}

/* line 34, ../../app/styles/navigation.scss */
.NavPrev:hover {
  background-position: 0 -18px;
}

/* line 38, ../../app/styles/navigation.scss */
.NavFirst {
  height: 17px;
  width: 17px;
  background: url(../images/first.png) 0 -35px no-repeat;
  margin: 0 8px 0 0;
  float: left;
  top: 2px;
  cursor: pointer;
}

/* line 47, ../../app/styles/navigation.scss */
.NavFirst:hover {
  background-position: 0 -18px;
}

/* line 51, ../../app/styles/navigation.scss */
.NavLast {
  height: 16px;
  width: 16px;
  background: url(../images/last.png) 0 -35px no-repeat;
  float: left;
  cursor: pointer;
}

/* line 58, ../../app/styles/navigation.scss */
.NavLast:hover {
  background-position: 0 -18px;
}

/* line 62, ../../app/styles/navigation.scss */
.NavItem {
  height: 27px;
  width: 24px;
  margin: 0 2px 0 1px;
  float: left;
  background: url(../images/number.png);
  cursor: pointer;
}

/* line 70, ../../app/styles/navigation.scss */
.NavItem:hover {
  background-position: 0 -27px;
}

/* line 74, ../../app/styles/navigation.scss */
.NavItem.Cur {
  height: 27px;
  width: 24px;
  margin: 0 2px 0 1px;
  float: left;
  background: url(../images/number.png) 0 -27px;
  cursor: default;
}

/* line 83, ../../app/styles/navigation.scss */
.Space {
  height: 27px;
  width: 24px;
  margin: 0 2px 0 1px;
  float: left;
  background: url(../images/space.png) 0 0px;
}
