@font-face {
  font-family: "Gothic";
  src: url('fonts/fonts/Century Gothic.eot');
  src: url('fonts/fonts/Century Gothic.eot?#iefix') format('eot'), url('fonts/fonts/Gothic.ttf') format('truetype');
}

/* line 242, player/*.png */
.player-sprite {
  background: url('../images/player-sdbe12c62c6.png') no-repeat;
}

/* line 66, item/*.png */
.item-sprite {
  background: url('../images/item-s5201a6477f.png') no-repeat;
}

/* line 138, icons/*.png */
.icons-sprite {
  background: url('../images/icons-s25753a842f.png') no-repeat;
}

/* line 122, navigation/*.png */
.navigation-sprite, .b-navigation__next, .b-navigation__prev, .b-navigation__first, .b-navigation__last, .b-navigation__item, .b-navigation__item_current, .b-navigation__space {
  background: url('../images/navigation-sd19e8ff86c.png') no-repeat;
}

/* line 6, ../../app/styles/navigation.scss */
.b-navigation {
  font-family: Gothic, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  color: #cdcdcd;
  text-shadow: 1px 1px 2px black;
  height: 27px;
  margin-left: 153px;
  text-align: center;
  cursor: pointer;
}

/* line 15, ../../app/styles/navigation.scss */
.b-navigation__next {
  background-position: 0 -164px;
  height: 17px;
  width: 10px;
  height: 17px;
  width: 17px;
  margin: 0 4px 0 4px;
  float: left;
  top: 2px;
}
/* line 43, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.b-navigation__next:hover, .b-navigation__next.next_hover, .b-navigation__next.next-hover {
  background-position: 0 -146px;
}

/* line 25, ../../app/styles/navigation.scss */
.b-navigation__prev {
  background-position: 0 -182px;
  height: 17px;
  width: 10px;
  height: 16px;
  width: 16px;
  float: left;
}
/* line 43, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.b-navigation__prev:hover, .b-navigation__prev.prev_hover, .b-navigation__prev.prev-hover {
  background-position: 0 -128px;
}

/* line 33, ../../app/styles/navigation.scss */
.b-navigation__first {
  background-position: 0 -82px;
  height: 17px;
  width: 17px;
  height: 17px;
  width: 17px;
  margin: 0 8px 0 0;
  float: left;
  top: 2px;
}
/* line 43, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.b-navigation__first:hover, .b-navigation__first.first_hover, .b-navigation__first.first-hover {
  background-position: 0 -46px;
}

/* line 43, ../../app/styles/navigation.scss */
.b-navigation__last {
  background-position: 0 -64px;
  height: 17px;
  width: 17px;
  height: 16px;
  width: 16px;
  float: left;
}
/* line 43, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.b-navigation__last:hover, .b-navigation__last.last_hover, .b-navigation__last.last-hover {
  background-position: 0 -28px;
}

/* line 51, ../../app/styles/navigation.scss */
.b-navigation__item {
  background-position: 0 -200px;
  height: 27px;
  width: 24px;
  height: 27px;
  width: 24px;
  margin: 0 2px 0 1px;
  float: left;
}
/* line 43, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.b-navigation__item:hover, .b-navigation__item.number_hover, .b-navigation__item.number-hover {
  background-position: 0 -100px;
}

/* line 60, ../../app/styles/navigation.scss */
.b-navigation__item_current {
  background-position: 0 -100px;
  height: 27px;
  width: 24px;
  height: 27px;
  width: 24px;
  margin: 0 2px 0 1px;
  float: left;
  cursor: default;
}

/* line 70, ../../app/styles/navigation.scss */
.b-navigation__space {
  background-position: 0 0;
  height: 27px;
  width: 24px;
  height: 27px;
  width: 24px;
  margin: 0 2px 0 1px;
  float: left;
  cursor: default;
}
