@charset "UTF-8";
@font-face {
  font-family: Gothic;
  font-weight: 400;
  font-style: normal;
  src: url("Century Gothic.eot");
  src: local("☺"), url("http://fontsforweb.com/public/fonts/1168/GOTHIC.ttf") format("truetype");
}

/* line 10, ../../app/styles/player1.scss */
.player {
  width: 827px;
  height: 151px;
  padding: 0;
  background-image: url('../images/player_background.png?1349458814');
  -webkit-box-shadow: 0 8px 30px #222222;
  -moz-box-shadow: 0 8px 30px #222222;
  box-shadow: 0 8px 30px #222222;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 21, ../../app/styles/player1.scss */
.player div {
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 27, ../../app/styles/player1.scss */
.buttons {
  float: left;
  margin-left: 70px;
  margin-top: 43px;
  width: 175px;
}

/* line 36, ../../app/styles/player1.scss */
.play {
  width: 56px;
  height: 62px;
  cursor: pointer;
  background-image: url('../images/play_pre.png?1349458814');
  position: absolute;
}
/* line 15, ../../app/styles/_common.scss */
.play:hover {
  background-image: url('../images/play_over.png?1349458814');
}
/* line 21, ../../app/styles/_common.scss */
.play:active {
  background-image: url('../images/play_down.png?1349458814');
}

/* line 42, ../../app/styles/player1.scss */
.pause {
  width: 46px;
  height: 62px;
  cursor: pointer;
  background-image: url('../images/pause_pre.png?1349458814');
  display: none;
  position: absolute;
}
/* line 15, ../../app/styles/_common.scss */
.pause:hover {
  background-image: url('../images/pause_over.png?1349458814');
}
/* line 21, ../../app/styles/_common.scss */
.pause:active {
  background-image: url('../images/pause_down.png?1349458814');
}

/* line 49, ../../app/styles/player1.scss */
.rew {
  width: 34px;
  height: 29px;
  cursor: pointer;
  background-image: url('../images/prev_pre.png?1349458814');
  margin-left: 83px;
  margin-top: 15px;
}
/* line 15, ../../app/styles/_common.scss */
.rew:hover {
  background-image: url('../images/prev_over.png?1349458814');
}
/* line 21, ../../app/styles/_common.scss */
.rew:active {
  background-image: url('../images/prev_down.png?1349458814');
}

/* line 56, ../../app/styles/player1.scss */
.ff {
  width: 34px;
  height: 29px;
  cursor: pointer;
  background-image: url('../images/next_pre.png?1349458814');
  margin-left: 4px;
  margin-top: 15px;
}
/* line 15, ../../app/styles/_common.scss */
.ff:hover {
  background-image: url('../images/next_over.png?1349458814');
}
/* line 21, ../../app/styles/_common.scss */
.ff:active {
  background-image: url('../images/next_down.png?1349458814');
}

/* line 63, ../../app/styles/player1.scss */
.PlayerProgress {
  cursor: pointer;
  height: 8px;
  top: 70px;
  background: #38393d;
}

/* line 72, ../../app/styles/player1.scss */
.PlayerProgress div {
  height: 7px;
  top: 0;
  width: 0;
  position: absolute;
}

/* line 80, ../../app/styles/player1.scss */
.PlayerLoadProgress {
  top: 1px;
  background: url('../images/load_pattern.png?1349458814') repeat-x;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: visible;
}

/* line 90, ../../app/styles/player1.scss */
.PlayerPlayProgress {
  background: url('../images/play_pattern.png?1349458814') repeat-x;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 96, ../../app/styles/player1.scss */
.PlayerProgress .PlayerPlayHead {
  top: -9px;
  width: 8px;
  height: 24px;
  z-index: 1000;
  background: url('../images/pick_on.png?1349458814');
  right: -4px;
}

/* line 104, ../../app/styles/player1.scss */
.PlayerProgress .PlayerPlayHead > .back {
  width: 8px;
  height: 24px;
  background: url('../images/pick_pre.png?1349458814');
  z-index: 1001;
}

/* line 110, ../../app/styles/player1.scss */
.PlayerProgress .PlayerPlayHead > .back:hover {
  opacity: 0;
}

/* line 115, ../../app/styles/player1.scss */
.PlayerProgress .PlayerProgressMask {
  width: 342px;
  height: 11px;
  background: url('../images/progress_mask.png?1349458814');
  top: -1px;
}

/* line 123, ../../app/styles/player1.scss */
.under {
  top: 110px;
}

/* line 128, ../../app/styles/player1.scss */
.under div {
  position: absolute;
}

/* line 134, ../../app/styles/player1.scss */
.PlayerAddButton {
  width: 116px;
  height: 17px;
  cursor: pointer;
  background-image: url('../images/add_pre.png?1349458814');
  display: none;
}
/* line 15, ../../app/styles/_common.scss */
.PlayerAddButton:hover {
  background-image: url('../images/add_over.png?1349458814');
}
/* line 21, ../../app/styles/_common.scss */
.PlayerAddButton:active {
  background-image: url('../images/add_down.png?1349458814');
}

/* line 140, ../../app/styles/player1.scss */
.MutePre {
  width: 23px;
  height: 18px;
  cursor: pointer;
  background-image: url('../images/vol_b_pre.png?1349458814');
  left: 180px;
  top: -5px;
}
/* line 15, ../../app/styles/_common.scss */
.MutePre:hover {
  background-image: url('../images/vol_b_over.png?1349458814');
}
/* line 21, ../../app/styles/_common.scss */
.MutePre:active {
  background-image: url('../images/vol_b_down.png?1349458814');
}

/* line 147, ../../app/styles/player1.scss */
.MuteAft {
  width: 23px;
  height: 18px;
  cursor: pointer;
  background-image: url('../images/mute_pre.png');
  left: 180px;
  top: -5px;
  display: none;
}
/* line 15, ../../app/styles/_common.scss */
.MuteAft:hover {
  background-image: url('../images/mute_over.png');
}
/* line 21, ../../app/styles/_common.scss */
.MuteAft:active {
  background-image: url('../images/mute_down.png');
}

/* line 155, ../../app/styles/player1.scss */
.PlayerVolBack {
  left: 210px;
  width: 132px;
  height: 9px;
  background-color: .444;
  cursor: pointer;
}

/* line 164, ../../app/styles/player1.scss */
.PlayerVolBar {
  width: 132px;
  height: 9px;
  background: url('../images/volume_pattern.png?1349458814') repeat-x;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 172, ../../app/styles/player1.scss */
.PlayerVolumeControl {
  top: -9px;
  width: 8px;
  height: 24px;
  z-index: 1000;
  background: url('../images/pick_pre.png?1349458814');
  right: -4px;
}

/* line 182, ../../app/styles/player1.scss */
.PlayerVolumeControl:hover {
  background: url('../images/pick_on.png?1349458814');
}

/* line 187, ../../app/styles/player1.scss */
.PlayerVolMask {
  width: 132px;
  height: 9px;
  background-image: url('../images/volume_mask.png?1349458814');
}

/* line 194, ../../app/styles/player1.scss */
.PlayerImgCont {
  padding-left: 26px;
  padding-top: 9px;
  margin-left: 5px;
  height: 142px;
  width: 149px;
  background-image: url('../images/album.png?1349458814');
}

/* line 204, ../../app/styles/player1.scss */
.PlayerBigImage {
  height: 126px;
  width: 126px;
}
