@charset "UTF-8";
@font-face {
  font-family: Gothic;
  font-weight: 400;
  font-style: normal;
  src: url("Century Gothic.eot");
  src: local("☺"), url("http://fontsforweb.com/public/fonts/1168/GOTHIC.ttf") format("truetype");
}

/* line 12, ../../app/styles/similars.scss */
.b-similars__phrase-place {
  height: 40px;
  background-color: #dfdfdf;
  border: 1px solid whitesmoke;
  border-bottom: 1px solid #bebebe;
  padding-left: 180px;
}

/* line 21, ../../app/styles/similars.scss */
.b-similars__phrase {
  font-family: Gothic, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  color: #212121;
  margin-top: 10px;
  display: block;
}

/* line 28, ../../app/styles/similars.scss */
.b-similars__similars-container {
  background-color: #dfdfdf;
  border: 1px solid whitesmoke;
  display: none;
}

/* line 35, ../../app/styles/similars.scss */
.b-similars__similars-container-col1 {
  float: left;
  width: 50%;
}

/* line 41, ../../app/styles/similars.scss */
.b-similars__similars-container-col2 {
  float: right;
  width: 50%;
}

/* line 48, ../../app/styles/similars.scss */
.b-similars__similars-container-clear {
  clear: both;
  width: 0;
  height: 0;
}
