@charset "UTF-8";
@font-face {
  font-family: Gothic;
  font-weight: 400;
  font-style: normal;
  src: url("fonts/Century Gothic.eot");
  src: local("☺"), url("fonts/Gothic.ttf") format("truetype");
}

/* line 242, player/*.png */
.player-sprite {
  background: url('../images/player-sdbe12c62c6.png') no-repeat;
}

/* line 66, item/*.png */
.item-sprite {
  background: url('../images/item-s5201a6477f.png') no-repeat;
}

/* line 138, icons/*.png */
.icons-sprite, .b-similar__play-button, .b-similar__pause-button, .b-similar__add-button, .b-similar__like-button, .b-similar__wiki-button {
  background: url('../images/icons-s25753a842f.png') no-repeat;
}

/* line 122, navigation/*.png */
.navigation-sprite {
  background: url('../images/navigation-sd19e8ff86c.png') no-repeat;
}

/* line 10, ../../app/styles/similar.scss */
.b-similar {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFDFDFDF', endColorstr='#FFBEBEBE');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfdfdf), color-stop(100%, #bebebe));
  background-image: -webkit-linear-gradient(top, #dfdfdf, #bebebe);
  background-image: -moz-linear-gradient(top, #dfdfdf, #bebebe);
  background-image: -o-linear-gradient(top, #dfdfdf, #bebebe);
  background-image: linear-gradient(top, #dfdfdf, #bebebe);
  -webkit-box-shadow: 0px 0px 0px 1px whitesmoke;
  -moz-box-shadow: 0px 0px 0px 1px whitesmoke;
  box-shadow: 0px 0px 0px 1px whitesmoke;
  margin-top: 1px;
  margin-left: 1px;
  height: 64px;
  padding: 8px 10px 7px 20px;
}

/* line 23, ../../app/styles/similar.scss */
.b-similar_selected {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF7E7E7E', endColorstr='#FFFFFFFF');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7e7e7e), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #7e7e7e, #ffffff);
  background-image: -moz-linear-gradient(top, #7e7e7e, #ffffff);
  background-image: -o-linear-gradient(top, #7e7e7e, #ffffff);
  background-image: linear-gradient(top, #7e7e7e, #ffffff);
}

/* line 30, ../../app/styles/similar.scss */
.b-similar__album-cover {
  border: 1px solid whitesmoke;
  width: 64px;
  height: 64px;
  float: left;
  cursor: pointer;
}

/* line 39, ../../app/styles/similar.scss */
.b-similar__cover-image {
  width: 64px;
  height: 64px;
}

/* line 45, ../../app/styles/similar.scss */
.b-similar__content {
  margin-left: 15px;
  float: left;
}

/* line 51, ../../app/styles/similar.scss */
.b-similar__track-title {
  font-family: Gothic, sans-serif;
  font-size: 10pt;
  font-weight: normal;
  color: #212121;
  width: 210px;
  cursor: pointer;
}

/* line 58, ../../app/styles/similar.scss */
.b-similar__artist-name {
  font-weight: bold;
  height: 17px;
  display: block;
  overflow: hidden;
}

/* line 67, ../../app/styles/similar.scss */
.b-similar__track-name {
  height: 17px;
  display: block;
  overflow: hidden;
}

/* line 74, ../../app/styles/similar.scss */
.b-similar__buttons {
  margin-top: 7px;
  cursor: pointer;
}

/* line 80, ../../app/styles/similar.scss */
.b-similar__play-button {
  background-position: 0 -56px;
  height: 13px;
  width: 13px;
  float: left;
}
/* line 43, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.b-similar__play-button:hover, .b-similar__play-button.play_hover, .b-similar__play-button.play-hover {
  background-position: 0 -70px;
}

/* line 86, ../../app/styles/similar.scss */
.b-similar__pause-button {
  background-position: 0 -140px;
  height: 13px;
  width: 13px;
  display: none;
  float: left;
}
/* line 43, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.b-similar__pause-button:hover, .b-similar__pause-button.pause_hover, .b-similar__pause-button.pause-hover {
  background-position: 0 -154px;
}

/* line 93, ../../app/styles/similar.scss */
.b-similar__add-button {
  background-position: 0 -112px;
  height: 13px;
  width: 13px;
  float: left;
  margin-left: 7px;
}
/* line 43, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.b-similar__add-button:hover, .b-similar__add-button.add_hover, .b-similar__add-button.add-hover {
  background-position: 0 -126px;
}

/* line 100, ../../app/styles/similar.scss */
.b-similar__like-button {
  background-position: 0 -28px;
  height: 13px;
  width: 13px;
  float: left;
  margin-left: 7px;
}
/* line 43, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.b-similar__like-button:hover, .b-similar__like-button.like_hover, .b-similar__like-button.like-hover {
  background-position: 0 -42px;
}

/* line 107, ../../app/styles/similar.scss */
.b-similar__wiki-button {
  background-position: 0 -84px;
  height: 13px;
  width: 13px;
  float: left;
  margin-left: 7px;
  display: none;
}
/* line 43, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.b-similar__wiki-button:hover, .b-similar__wiki-button.wiki_hover, .b-similar__wiki-button.wiki-hover {
  background-position: 0 -98px;
}
