@charset "UTF-8";
@font-face {
  font-family: Gothic;
  font-weight: 400;
  font-style: normal;
  src: url("Century Gothic.eot");
  src: local("☺"), url("http://fontsforweb.com/public/fonts/1168/GOTHIC.ttf") format("truetype");
}

/* line 242, player/*.png */
.player-sprite {
  background: url('../images/player-s93a7b84bfe.png') no-repeat;
}

/* line 66, item/*.png */
.item-sprite {
  background: url('../images/item-sc720ff8abe.png') no-repeat;
}

/* line 138, icons/*.png */
.icons-sprite, .b-similar__play-button, .b-similar__pause-button, .b-similar__add-button, .b-similar__like-button, .b-similar__wiki-button {
  background: url('../images/icons-s56021c39b0.png') no-repeat;
}

/* line 122, navigation/*.png */
.navigation-sprite {
  background: url('../images/navigation-sf9b1191564.png') no-repeat;
}

/* line 9, ../../app/styles/similar.scss */
.b-similar {
  margin-top: 1px;
  margin-left: 1px;
  height: 64px;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 7px;
  box-shadow: 0px 0px 0px 1px whitesmoke;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfdfdf), color-stop(100%, #bebebe));
  background-image: -webkit-linear-gradient(top, #dfdfdf, #bebebe);
  background-image: -moz-linear-gradient(top, #dfdfdf, #bebebe);
  background-image: -o-linear-gradient(top, #dfdfdf, #bebebe);
  background-image: linear-gradient(top, #dfdfdf, #bebebe);
}

/* line 27, ../../app/styles/similar.scss */
.b-similar_selected {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bebebe), color-stop(100%, #dfdfdf));
  background-image: -webkit-linear-gradient(top, #bebebe, #dfdfdf);
  background-image: -moz-linear-gradient(top, #bebebe, #dfdfdf);
  background-image: -o-linear-gradient(top, #bebebe, #dfdfdf);
  background-image: linear-gradient(top, #bebebe, #dfdfdf);
}

/* line 33, ../../app/styles/similar.scss */
.b-similar__album-cover {
  border: 1px solid whitesmoke;
  width: 64px;
  height: 64px;
  float: left;
  cursor: pointer;
}

/* line 42, ../../app/styles/similar.scss */
.b-similar__cover-image {
  width: 64px;
  height: 64px;
}

/* line 48, ../../app/styles/similar.scss */
.b-similar__content {
  margin-left: 15px;
  float: left;
}

/* line 54, ../../app/styles/similar.scss */
.b-similar__track-title {
  font-family: Gothic, sans-serif;
  font-size: 10pt;
  font-weight: normal;
  color: #212121;
  width: 210px;
  cursor: pointer;
}

/* line 61, ../../app/styles/similar.scss */
.b-similar__artist-name {
  font-weight: bold;
  height: 17px;
  display: block;
  overflow: hidden;
}

/* line 70, ../../app/styles/similar.scss */
.b-similar__track-name {
  height: 17px;
  display: block;
  overflow: hidden;
}

/* line 77, ../../app/styles/similar.scss */
.b-similar__buttons {
  margin-top: 7px;
  cursor: pointer;
}

/* line 83, ../../app/styles/similar.scss */
.b-similar__play-button {
  float: left;
  background-position: 0 -52px;
  height: 13px;
  width: 13px;
}
/* line 43, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.b-similar__play-button:hover, .b-similar__play-button.play_hover, .b-similar__play-button.play-hover {
  background-position: 0 -65px;
}

/* line 90, ../../app/styles/similar.scss */
.b-similar__pause-button {
  display: none;
  float: left;
  background-position: 0 -130px;
  height: 13px;
  width: 13px;
}
/* line 43, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.b-similar__pause-button:hover, .b-similar__pause-button.pause_hover, .b-similar__pause-button.pause-hover {
  background-position: 0 -143px;
}

/* line 98, ../../app/styles/similar.scss */
.b-similar__add-button {
  float: left;
  margin-left: 7px;
  background-position: 0 -104px;
  height: 13px;
  width: 13px;
}
/* line 43, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.b-similar__add-button:hover, .b-similar__add-button.add_hover, .b-similar__add-button.add-hover {
  background-position: 0 -117px;
}

/* line 106, ../../app/styles/similar.scss */
.b-similar__like-button {
  float: left;
  margin-left: 7px;
  background-position: 0 -26px;
  height: 13px;
  width: 13px;
}
/* line 43, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.b-similar__like-button:hover, .b-similar__like-button.like_hover, .b-similar__like-button.like-hover {
  background-position: 0 -39px;
}

/* line 114, ../../app/styles/similar.scss */
.b-similar__wiki-button {
  float: left;
  margin-left: 7px;
  display: none;
  background-position: 0 -78px;
  height: 13px;
  width: 13px;
}
/* line 43, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.b-similar__wiki-button:hover, .b-similar__wiki-button.wiki_hover, .b-similar__wiki-button.wiki-hover {
  background-position: 0 -91px;
}
