
<div class="ItemHeader">
	<img class="BigImg" src="<%= cover %>" />

	<div class="BigImgShadow"></div>

	<div class="ItemInfoCont">
			<div class="ItemTitle">
				<span class="ItemArtist"><%= artist %></span>&nbsp;&mdash;&nbsp;<%= title %>
			</div>

		<div class="ItemButtoms">
			<div class="ItemPlayB"></div>
			<div class="ItemAlbumCont">

			</div>
		</div>
	</div>
	<div class="ItemButtonsCont">
		<img class="ItemLikeB" src="images/like_pre.png" />
		<img class="ItemDeleteB" src="images/sim_delete.png"  style="margin-left: 7px;" />
	</div>
</div>


<!--
	b-item
		header
			album-cover
				img.cover-image
				shadow

			content
				track-title

				state-button
					// меняется на плей и паузу
					play-button
					pause-button

				info
					// info.html

			control-buttons
				// в зависимости от type
				like-button
				delete-button
				wiki-button

		similars
			// similars.html
			phrase

			similars-container
				//similar.html
				b-similar
					album-cover
						img.cover-image

					content
						track-title
							span.artist-name
							span.track-name

						buttons
							play-button | pause-button
							add-button
							like-button
							wiki-button

			more-button













-->

