
<div class="ItemHeader">

    <% var info = data.info || {}; %>
    <% if (info.images) { var cover = data.info.images.large; } %>

	<img class="BigImg" src="<%= cover || 'images/big.png' %>" />

	<div class="BigImgShadow"></div>

	<div class="ItemInfoCont">
			<div class="ItemTitle">
				<span class="ItemArtist"><%= data.artist %></span>&nbsp;&mdash;&nbsp;<%= data.title %>
			</div>

		<div class="ItemButtoms">
			<div class="ItemPlayB"></div>
			<div class="ItemAlbumCont">
				<% if (info.album) { %>
					<span class="ItemAlbum">
						<span class="ItemAlbumTitle">Альбом:&nbsp;</span><%= info.album %>
					</span>
				<% } %>

				<% if (info.tags) { %>
					<span class="ItemTags">
						<span class="ItemTagsTitle">Жанры:&nbsp;</span><%= info.tags.join(', ') %>
					</span>
				<% } %>

				<a href="<%= data.audio.url %>">Скачать!</a>

			</div>
		</div>
	</div>
	<div class="ItemButtonsCont">
		<img class="ItemLikeB" src="images/like_pre.png" />
		<img class="ItemDeleteB" src="images/sim_delete.png"  style="margin-left: 7px; display:none;" />
	</div>
</div>

