
<div class="buttons">
	<div class="play"></div>

	<div class="pause"></div>

	<div class="rew"></div>

	<div class="ff"></div>
</div>

<div class="playinfo">
	<div class="trackinfo">
		<!-- <div><p></p></div> -->
	</div>

	<div class="PlayerProgress">
		<div class="PlayerLoadProgress">
			<img src="images/progress_mask.png" style="float: left; margin-top: -1px;"/>

			<div class="PlayerPlayProgress">
				<div class="PlayerPlayHead"><div class="back"></div></div>
			</div>
		</div>
	</div>

	<div class="under">
		<div class="PlayerAddButton"></div>


		<div class="MutePre"></div>
		<div class="MuteAft"></div>

		<div class="PlayerVolBack">
			<div class="PlayerVolBar">
				<div class="PlayerVolumeControl"></div>
			</div>
			<div class="PlayerVolMask"></div>
		</div>
	</div>
</div>

<div class="PlayerImgCont">
	<img class="PlayerBigImage" />
</div>