<div class="album-cover">
	<img class="cover-image" src="<%= cover %>" />
</div>

<div class="content">
	<div class="track-title">
			<span class="artist-name">
				<%= artist %>
			</span>
			<span class="track-name">
				<%= title %>
			</span>
	</div>

	<div class="buttons">
		<img src="images/sim_play.png" class="play-button" />
		<img src="images/sim_play.png" class="pause-button" />
		<img src="images/sim_add_pre.png" class="add-button" />
		<img src="images/like_pre.png" class="like-button" />
	</div>
</div>
