<div class="b-similar__album-cover">
	<img class="b-similar__cover-image" src="<%= cover %>" />
</div>

<div class="b-similar__content">
	<div class="b-similar__track-title">
			<span class="b-similar__artist-name">
				<%= artist %>
			</span>
			<span class="b-similar__track-name">
				<%= title %>
			</span>
	</div>

	<div class="b-similar__buttons">
		<div class="b-similar__play-button"></div>
		<div class="b-similar__pause-button"></div>
		<div class="b-similar__add-button"></div>
		<div class="b-similar__like-button"></div>
		<div class="b-similar__wiki-button"></div>
	</div>
</div>
