<img class="SmallImg" src="<%= data.info.images.medium || 'http://placekitten.com/g/64/64' %>" />

<div class="SimInfoCont">
	<div class="SimTitle">
			<span class="SimArtist">
				<%= data.artist %>
			</span>
			<span class="SimName">
				<%= data.title %>
			</span>
	</div>

	<div class="SimButtonsCont">
		<img src="images/sim_play.png" class="SimPlayB" />
		<img src="images/sim_add_pre.png" class="SimAddB" style="margin-left: 7px;" />
		<img src="images/like_pre.png" class="SimLikeB" style="margin-left: 7px;" />
	</div>
</div>
